* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4b4b4b;
  }
  
body {
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------------------------ */

 /* Menú de navegación */ 
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to top,  #00a560, #c1ff72);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.LogoMenu {
    display: flex;             
    align-items: center;       
    flex-direction: row;       
}
  
.LogoMenu img {
    height: 50px;
    width: auto;
    margin-right: 12px;        
}
  
.TextoLogo {
    display: flex;
    flex-direction: column;    
    font-size: 17px;
    line-height: 1.2;
    color: black;
    white-space: nowrap;
   font-weight: bold;
}

/* Menu desktop y hamburguesa*/

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav .nav-list li a {
  text-decoration: none;
}

.sub-nav-list {
    display: none;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    padding-top: 5px;
}

/* -------------------------------------------------*/

.Planes {
    background-image: url("imgs/planes.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;   
    align-items: center;
    display: flex;
    
}

.TituloPrincipal h1{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: -70px;
    font-size: 105px; 
    line-height: 96px;
  
}

.TituloPrincipal p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 35px;
    font-size: 18px;
}

/* ----------------------------------------------------------------*/


/* Sección del régimen académico */
.CambioRegimen {
    display: flex;
    flex-direction: column;
    background-color: #e5e0d8;
    padding: 20px 15px;
    text-align: center;
    gap: 10px;
}

.CambioRegimen .Titulo {
    font-size: 22px;
    font-weight: bold;
    color: #4b4b4b;
}

.CambioRegimen .Texto {
    font-size: 17px;
    color: #4b4b4b;
}

.CambioRegimen .InformacionEnlace {
    font-size: 13px;
    font-weight: 600;
    color: black;
    padding: 10px;
}

/* Sección Nuestra Escuela */
.Escuela {
  text-align: center;
  padding: 40px 15px;
  background-color: #f0f0f0;
  
}

.TituloEscuela {
  font-size: 50px;
  font-weight: bold;
  color: #4b4b4b;
  margin-bottom: 25px;
}

.TituloEscuela::after {
    content: "";
    display: block;
    width: 25%;
    height: 4px;
    background-color: #54b159; 
    margin: 0px auto 0;
    border-radius: 2px;
}

.Descripcion {
  font-size: 17px;
  color: #4b4b4b;
  margin: 0 auto 20px;
  max-width: 450px;
}

.Subtitulo {
  font-size: 40px;
  font-weight: bold;
  color: #4b4b4b;
  margin-top: 40px;
  margin-bottom: 25px;
}

.Tiempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.Tiempo img {
  width: 45px;
  height: 45px;
  margin-bottom: 5px;
}

.Texto2 {
  font-size: 13px;
  font-weight: normal;
  color: #4b4b4b;
  margin-bottom: 20px;
}

.PlanesEstudio {
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 22px;
}

.BotonesBasicos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.BotonesBasicos button {
  background-color: #4caf4c;
  color: #f0f0f0;
  border: none;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 13px;
  cursor: pointer;
}

/* Sección Especializaciones y Ciclo superior */
.InformaticaElectromecanica {
  background-color: #e5e0d8;
  text-align: center;
  padding: 40px 15px;
}

.Titulo2 {
  font-size: 45px;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
}

.Titulo2::after {
    content: "";
    display: block;
    width: 21%;
    height: 4px;
    background-color: #ff9800; 
    margin: 0px auto 0;
    border-radius: 2px;
}

.Modalidades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
}

.Modalidad2 {
  background-color: #f0f0f0;
  border-radius: 12px;
  overflow: hidden;
  max-width: 250px;
  text-align: center;
}

.Modalidad2 a{
    text-decoration: none;
}

.Modalidad2 img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.Titulo3 {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #4b4b4b;
}


/*---------------------------------------------------------------*/
.PaginaPie {
  background: linear-gradient(to top, #00a560, #c1ff72);
  padding: 40px 20px;
  position: relative;
  font-weight: bold;
}

.Pie {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.LogoNombre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px; 
}

.PieLogo {
  width: 100px;
  height: auto;
  margin-right: 15px; 
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.NombreEscuela {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.NombreEscuela p {
  display: block;
}

.NavegacionRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.LogosRedes {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  align-items: center; 
}

.RedesIconos img {
  width: 40px;  
  height: auto;
}


.NavegacionRapida {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.NavegacionSecciones {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.NavegacionSecciones h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones h3 a{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones ul {
  list-style-type: none;
  padding-left: 0;
}

.NavegacionSecciones li {
  margin: 5px 0;
}

.NavegacionSecciones a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.NavegacionSecciones a:hover {
  text-decoration: underline;
}


/* Tablet y móvil */
@media (max-width: 1024px) {

.Planes {
    justify-content: center;
  }

  .TituloPrincipal h1 {
    font-size: 80px;
    margin-left: 0;
    text-align: center;
  }
  .TituloPrincipal p {
    font-size: 16px;
    margin-left: 0;
    text-align: center;
  }

  /* Cambio de régimen */
  .CambioRegimen .Titulo {
    font-size: 20px;
  }
  .CambioRegimen .Texto {
    font-size: 16px;
  }
  .CambioRegimen .InformacionEnlace {
    font-size: 14px;
  }

  /* Nuestra escuela */
  .TituloEscuela {
    font-size: 40px;
  }
  .Descripcion {
    font-size: 15px;
    max-width: 350px;
  }

  .Subtitulo {
    font-size: 30px;
  }

  .Tiempo img {
    width: 35px;
    height: 35px;
  }
  .Texto1 {
    font-size: 20px;
  }
  .Texto2 {
    font-size: 20px;
  }

  .PlanesEstudio {
    font-size: 13px;
  }

  .BotonesBasicos {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .BotonesBasicos button {
    padding: 5px 12px;
    font-size: 12px;
  }

  /* Ciclo superior y modalidades */
  .Titulo2 {
    font-size: 35px;
  }
  .Modalidad2 {
    max-width: 200px;
  }
  .Modalidad2 img {
    height: 150px;
  }
  .Titulo3 {
    font-size: 20px;
  }

}




/* Móvil */
@media (max-width: 768px) {

  /* Planes */
  .TituloPrincipal h1 {
    font-size: 70px;
    margin-bottom: 15px;

  }
  .TituloPrincipal p {
    font-size: 16px;
  }

  /* Cambio de régimen */
  .CambioRegimen .Titulo {
    font-size: 18px;
  }
  .CambioRegimen .Texto {
    font-size: 14px;
  }
  .CambioRegimen .InformacionEnlace {
    font-size: 12px;
  }

  /* Nuestra escuela */
  .TituloEscuela {
    font-size: 30px;
  }
  .Descripcion {
    font-size: 14px;
    max-width: 300px;
  }
  .Subtitulo {
    font-size: 24px;
  }

  .Tiempo img {
    width: 30px;
    height: 30px;
  }

  .Texto1 {
    font-size: 20px;
  }
  .Texto2 {
    font-size: 20px;
  }

  .PlanesEstudio {
    font-size: 12px;
  }

  .BotonesBasicos {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .BotonesBasicos button {
    width: 50%;
    padding: 6px 0;
    font-size: 12px;
  }


  /* Ciclo superior y modalidades */
  .Titulo2 {
    font-size: 28px;
  }

  .Modalidades {
    flex-direction: column;
    gap: 15px;
  }

  .Modalidad2 {
    max-width: 100%;
  }

  .Modalidad2 img {
    height: 130px;
  }

  .Titulo3 {
    font-size: 20px;
  }
  
}
