* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------------------------ */
 
 /* Menú de navegación */ 
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to top,  #00a560, #c1ff72);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.LogoMenu {
    display: flex;             
    align-items: center;       
    flex-direction: row;       
}
  
.LogoMenu img {
    height: 50px;
    width: auto;
    margin-right: 12px;        
}
  
.TextoLogo {
    display: flex;
    flex-direction: column;    
    font-size: 17px;
    line-height: 1.2;
    color: black;
    white-space: nowrap;
   font-weight: bold;
}

/* Menu desktop y hamburguesa*/

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav .nav-list li a {
  text-decoration: none;
}

.sub-nav-list {
    display: none;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    padding-top: 5px;
}

@media screen and (min-width: 826px) {

    .nav-list li {
        position: relative;
    }

    .nav-list li .sub-nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100px;
    background-color: #f0f0f0;
    padding: 0.5rem 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    z-index: 1000;
}

.nav-list li:hover .sub-nav-list {
    display: flex;
}

.nav .nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 5px 15px;
  display: block;
  transition: color 0.3s;
}

.nav .nav-list li:hover > a{
  color: #1caf21;
}

.sub-nav-list li:hover {
  background-color: greenyellow;
}

}

@media screen and (max-width: 825px) {
    
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
    }

    .abrir-menu:hover,
    .cerrar-menu:hover {
        cursor: pointer;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #4b4b4b;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: start;
    }

    .nav-list li {
        padding: 5px;
    }

    .sub-nav-list li {
        padding-top: 10px;
    }

    .nav-list li a {
    color: #f0f0f0;
    }

    .sub-nav-list {
        display: none;
    }

    .nav-list li:has(.sub-nav-list) > a::after{
        content: "▼";
        display: inline-block;
        margin-left: 5px;
        transition: transform 0.3s;
    }

    .sub-nav-list.activo{
        display: flex;
    }

}


/*-------------------------------------------------------------*/

.contacto {
  padding: 40px;
  background-color: #f9f9f9;
}

.contacto h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.contacto h2::after {
    content: "";
    display: block;
    width: 21%;
    height: 4px;
    background-color: orange; 
    margin: -9px 0 0 0;
    border-radius: 2px;
}


.contenedor-contacto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.columna {
    flex: 1;
    min-width: 250px;
}

.columna h3 {
    color: #333;
    font-size: 25px;
    margin-top: 30px;
}


.izquierda, .centro {
    text-align: center;
}


.columna p, .columna ul, .columna li {
    font-size: 14px;
    color: #444;
}

.columna a {
    color: #444;
    font-weight: bold;
}



/* ------------------------------------------------------------ */

.PaginaPie {
  background: linear-gradient(to top,  #00a560, #c1ff72);
  color: rgb(0, 0, 0);
  padding: 40px 20px;
  position: relative;
  font-weight: bold;
}

.Pie {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.LogoNombre {
  display: flex;
  flex-direction: column; /* El logo y el nombre estarán uno debajo del otro */
  align-items: flex-start;
  margin-bottom: 20px; /* Un pequeño margen abajo */
}


.PieLogo {
  width: 100px;
  height: auto;
  margin-right: 15px; 
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.NombreEscuela {
  font-size: 16px;  /* Reducimos el tamaño del texto */
  font-weight: bold;
  line-height: 1.2;  /* Alinea las líneas de texto */
}

.NombreEscuela p {
  display: block;  /* Hace que cada parte del nombre esté en una línea */
}

.NavegacionRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.LogosRedes {
  display: flex;
  flex-direction: column;  /* Cambiar de fila a columna */
  gap: 10px;  /* Opcional: agrega espacio entre las imágenes */
  align-items: center;  /* Centra las imágenes */
}

.RedesIconos img {
  width: 40px;  /* Ajusta el tamaño de las imágenes */
  height: auto;
}


.NavegacionRapida {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.NavegacionSecciones {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.NavegacionSecciones h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones h3 a{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones ul {
  list-style-type: none;
  padding-left: 0;
}

.NavegacionSecciones li {
  margin: 5px 0;
}

.NavegacionSecciones a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.NavegacionSecciones a:hover {
  text-decoration: underline;
}

/* Ocultar botón hamburguesa en desktop */
.MenuHamburguesa {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* LinksMenu desktop */
.LinksMenu {
  display: flex;
  gap: 20px;
}

/* Tablet y móvil */
@media (max-width: 1024px) {
  .MenuHamburguesa {
    display: block;
  }

.LinksMenu {
    display: none;  /* oculto por defecto */
    flex-direction: column;
    width: 100%;
    background-color: #c8e6c9;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 0;
    margin: 0;
  }

.LinksMenu a {
    padding: 15px 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
  }

.LinksMenu.activo {
    display: flex;
  }
  
  .contacto h2::after {
    content: "";
    display: block;
    width:35%;
    height: 4px;
    background-color: orange; 
    margin: -9px 0 0 0;
    border-radius: 2px;
  }
  

  .Pie {
    flex-direction: column;
    align-items: center;
  }

  .LogoNombre {
    align-items: center;
  }

  .PieLogo{
  margin-bottom: 20px;
  }

  .NavegacionRapida {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .LogosRedes {
    flex-direction: row; /* mantener fila */
    gap: 30px;
    justify-content: center; /* centrado horizontal */
    margin-bottom: 20px;
  }
}
 
@media (max-width: 768px) {
  
  .contacto h2::after {
    content: "";
    display: block;
    width:65%;
    height: 4px;
    background-color: orange; 
    margin: -9px 0 0 0;
    border-radius: 2px;
  }

}