.dots-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
    width: 60%;
}

.dot {
    background-color: #4b4b4b;
    transition: all .5s ease;

    width: 15px;
    height: 15px;
}

.dot:hover {
    background-color: #ff9800;
    transform: scale(1.25);
}

.dot.active {
    background-color: #ff9800;
    transform: scale(1.25);
}