/*  Footer Desktop */  

footer {
  min-height: 350px;
  background: linear-gradient(to top,  #00a560, #c1ff72);
  color: black;
  padding: 20px 5px 0 5px;
  position: relative;
  font-weight: bold;
}

.Pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.LogoNombre {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 10px 20px 10px;
}

.PieLogo {
  width: 100px;
  height: auto;
}

.NombreEscuela {
  font-size: 16px;
  font-weight: bold;
  line-height: 0.7;
}

.NombreEscuela p {
  display: block;
}

.Pie > hr {
  border: none;
  border-top: 1px solid black;
  width: 90%;
}

.footer-main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.NavegacionRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LogosRedes {
  display: flex;
  flex-direction: column;  
  gap: 10px;  
  align-items: center;  
  padding: 1rem;
}

.RedesIconos img {
  width: 40px;  
  height: auto;
}

.NavegacionRapida {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  padding: 2.5rem 5rem 2.5rem 5rem;
}

.NavegacionSecciones {  
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  min-width: 170px;
}

.NavegacionSecciones h3{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.NavegacionSecciones ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

.NavegacionSecciones li a{
  font-size: .8rem;
}

.NavegacionSecciones a {
  text-decoration: none;
  color: black;
}

.NavegacionSecciones a:hover {
  text-decoration: underline;
}