/*  Footer Desktop */  

footer {
  min-height: 290px;
  background: linear-gradient(to top,  #00a560, #c1ff72);
  color: black;
  padding: 20px 5px 0 5px;
  position: relative;
  font-weight: bold;
}

.Pie {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.LogoNombre {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.PieLogo {
  width: 100px;
  height: auto;
  margin-right: 15px; 
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.NombreEscuela {
  font-size: 16px;
  font-weight: bold;
  line-height: 0.7;
}

.NombreEscuela p {
  display: block;
}

.NavegacionRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LogosRedes {
  display: flex;
  flex-direction: column;  
  gap: 10px;  
  align-items: center;  
  padding: 1rem;
}

.RedesIconos img {
  width: 40px;  
  height: auto;
}

.NavegacionRapida {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.NavegacionSecciones {  
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.NavegacionSecciones h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones h3 a{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones ul {
  list-style-type: none;
  padding-left: 0;
}

.NavegacionSecciones li {
  margin-bottom: 2px;
}

.NavegacionSecciones a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.NavegacionSecciones a:hover {
  text-decoration: underline;
}