* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
  
}

.linea{
background: linear-gradient(
    -48deg,
    rgb(252, 252, 252) 49.8%,
    green 50%,
    green 50%,
    #e5e0d8  50.2%
)
#e5e0d8 
}
/* ------------------------------------------------------------ */


 /* Menú de navegación */ 
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to top,  #00a560, #c1ff72);
    z-index: 1000;
}
  
.LogoMenu {
    display: flex;             
    align-items: center;       
    flex-direction: row;       
}
  
.LogoMenu img {
    height: 50px;
    width: auto;
    margin-right: 12px;        
}
  
.TextoLogo {
    display: flex;
    flex-direction: column;    
    font-size: 17px;
    line-height: 1.2;
    color: black;
    white-space: nowrap;
   font-weight: bold;
}

/* Menu desktop y hamburguesa*/

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav .nav-list li a {
  text-decoration: none;
}

.sub-nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    gap: 5px;
    padding-top: 5px;

    transform: translateY(-10px);
    transition: max-height 0.7s ease, opacity 0.7s ease, transform 0.7s ease;
}

.sub-nav-list li {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sub-nav-list.activo li {
    opacity: 1;
    transform: translateX(0);
}

.sub-nav-list.activo li:nth-child(1) { transition-delay: 0.05s; }
.sub-nav-list.activo li:nth-child(2) { transition-delay: 0.1s; }
.sub-nav-list.activo li:nth-child(3) { transition-delay: 0.15s; }
.sub-nav-list.activo li:nth-child(4) { transition-delay: 0.2s; }
.sub-nav-list.activo li:nth-child(5) { transition-delay: 0.25s; }
/* -------------------------------------------------*/

.CambiosInstitucionales {
    background-image: url("../../imgs/ft4.JPG");
    background-size: cover;
    background-position: center;
    height: 50vh;   
    align-items: center;
    display: flex;
    
}

.TituloPrincipal h1{
    color: white;
    margin-left: 30px;
    margin-top: -20px;
    padding-right: 50px ;
    font-size: 80px; 
    background-color: rgba(139, 137, 137, 0.5);
    line-height: 96px;

}

.LogoPrincipal{
    height: 240px;
    width: auto;
    border-radius: 8px;
    margin-left: 300px;
    margin-bottom: 40px;
  }

/* ----------------------------------------------------------------*/

.Cambios {
    background-color: #f0f0f0;
    padding: 20px 15px;
}

.Titulo {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 3px;
    padding-bottom: 5px;
} 

.Texto {
    text-align: justify;
    font-size: 17px;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 10px;
}

/*----------------------------------------*/

.contenedor{ 
  margin: 0 auto ;
  padding: 20px 15px;
  max-width: 1150px;
}


.Titulo2{
 
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
 
}

.Texto2{
  text-align: left;
  max-width: 1100px;
  padding: 5px 15px 30px 15px;
  font-size: 17px;

}
.cambios-regimen{
  background-color: #e5e0d8;
}
.cambios-regimen hr{
  max-width: 450px;
  margin: 0 auto;

}


.subtitulo{ 
  padding-top: 20px;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
}

ul{
  padding-left: 30px;
}

.contenedor2 {
  padding: 40px 0px 20px 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-width: 1000px;
  gap: 30px;
}

.izquierda{
    align-self: flex-start; 

}

.derecha{
  align-self: flex-end; 

}

.solos:hover{
  transform: scale(1.1);
}

.solos{
  background: rgb(228, 228, 214);
  box-shadow:
  -15px -14px 0px 17px rgb(255, 255, 255),
  10px 25px 15px 0px rgba(0, 0, 0, 0.13);
  padding: 15px 20px;
  width: 400px;
  border-radius: 5px;
  transition: transform 0.2s;
}

.carta {
  background: rgb(228, 228, 214);
  box-shadow:
  -20px -10px 0px 20px rgb(255, 255, 255),
  10px 25px 15px 0px rgba(0, 0, 0, 0.13);
  padding: 15px 20px;
  width: 400px;
  border-radius: 5px;
  transition: transform 0.2s;
}

.carta:hover {
  transform: scale(1.1);
}

.carta h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 19px;
  border-bottom: 2px solid orange; /* línea decorativa */
  display: inline-block;
  padding-bottom: 3px;
}
.solos h3{
border-bottom: 2px solid orange;

}

.carta2 h3{ 
  border-bottom: 2px solid orange;
}

.contenedor2 p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

/*---------------------------------------------------------------*/
.PaginaPie {
  background: linear-gradient(to top,  #00a560, #c1ff72);
  color: rgb(0, 0, 0);
  padding: 40px 20px;
  position: relative;
  font-weight: bold;
}

.Pie {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.LogoNombre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


.PieLogo {
  width: 100px;
  height: auto;
  margin-right: 15px; 
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.NombreEscuela {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.NombreEscuela p {
  display: block;
}

.NavegacionRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.LogosRedes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.RedesIconos img {
  width: 40px;
  height: auto;
}


.NavegacionRapida {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.NavegacionSecciones {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.NavegacionSecciones h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones h3 a{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones ul {
  list-style-type: none;
  padding-left: 0;
}

.NavegacionSecciones li {
  margin: 5px 0;
}

.NavegacionSecciones a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.NavegacionSecciones a:hover {
  text-decoration: underline;
}


@media (max-width: 1024px) {

  /* Autoridades - Título y logo */
  .CambiosInstitucionales {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto; 
    padding: 40px 20px;
  }

  .TituloPrincipal h1 {
    margin: 0 0 20px 0;
    font-size: 60px;
    padding-right: 0;
    margin-top: 0;
    background-color: rgba(139, 137, 137, 0.5);
    line-height: 1.2em;
  }

  .LogoPrincipal {
    margin: 20px 0 0 0;
    height: 220px; 
  }
}
/* -------------------------------------- */
@media  (max-width: 768px) {

  /* Ajuste del hero */
  .CambiosInstitucionales {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .TituloPrincipal h1 {
    font-size: 50px;
    margin: 0 auto 20px auto;
    line-height: 1.2;
    padding: 10px;
  }

  .LogoPrincipal {
    margin: 0 auto 20px auto;
    height: 180px;
  }

  .contenedor2 {
    display: flex;
    flex-direction: row; /* scroll horizontal */
    overflow-x: auto;
    gap: 20px;
    padding: 20px;

    align-self: flex-start; /* todas al mismo nivel */
    transition: none;       /* quita efecto scale */
  }

  .contenedor2 h3 {
    font-size: 18px;
    border-bottom: 2px solid orange;
    padding-bottom: 3px;

  }

  .contenedor2 p {
    font-size: 15px;
    line-height: 1.4;
    word-break: break-word;
    padding:0px 10px 0px 0px;
  }

  /* quitar el escalonado */
  .izquierda,
  .derecha {
    align-self: flex-start;
  }

  .solos, .solos.sin-fondo{
    box-shadow: none;
    min-height: 280px; /* ancho fijo para móvil */
    padding: 10px;
  }
  
  .solos:hover {
    transform: none; /* desactiva el scale en móvil */
  }

  .Texto, .Texto2 {
    font-size: 16px;
    padding: 10px;
  }

  .Titulo, .Titulo2, .subtitulo {
    font-size: 30px;
  }
}

@media (max-width: 425px) {

  /* Ajuste hero aún más compacto */
  .TituloPrincipal h1 {
    font-size: 35px;
    padding: 5px;
  }

  .LogoPrincipal {
    height: 140px;
  }

  .Texto, .Texto2 {
    font-size: 14px;
  }

  .Titulo, .Titulo2, .subtitulo {
    font-size: 24px;
  }

  /* Cartas más pequeñas para celular */
  .solos {
    width: 250px;
    padding: 10px;
  }
}



