* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
}

/* Presentación */

.presentacion {
  width: 100%;
  height: 70vh;
  min-height: 550px;
  max-height: 600px;
}

.presentacion-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flecha-izquierda-presentacion {
  left: 0;
}

.flecha-derecha-presentacion {
  right: 0;
}

.flecha-izquierda-presentacion, 
.flecha-derecha-presentacion {
  position: absolute;
  z-index: 30;
  font-size: 2rem;
  opacity: 0;
  transition: opacity .5s ease;
}

.presentacion-content:hover .flecha-izquierda-presentacion,
.presentacion-content:hover .flecha-derecha-presentacion,
.presentacion-content:hover .dots-presentacion-container {
  opacity: 1;
}

.sld-presentacion-container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
}

.sld-presentacion-container::-webkit-scrollbar {
  display: none;
}

.slide-presentacion {
  position: sticky;
  scroll-snap-align: center;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.slide-presentacion img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slide-presentacion-content {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 20rem;
  width: 100%;
}

.overlay-presentacion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 165, 0, 0.8);
  padding: 60px;
  border-radius: 15px;
  max-width: 475px;
  min-height: 325px;
}

.overlay-presentacion p {
  margin-bottom: 20px;
}

.overlay-presentacion a {
  width: 70%;
}

.overlay-presentacion a button {
  background-color: #4caf4f;
  color: #f0f0f0;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s;
  width: 100%;
}

.overlay-presentacion button:hover {
  background-color: #449347;
}

.slide-presentacion-content img {
  width: 15rem;
  height: 15rem;
}

/* dots */

.dots-presentacion-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 25;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  max-width: 100px;
  min-width: fit-content;
  height: 30px;
  opacity: 0;

  transition: opacity .5s ease;
}

.dot-presentacion {
  background-color: #4b4b4b;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all .5s ease;
}

.dot-presentacion:hover {
  background-color: #ff9800;
  transform: scale(1.25);
}

.dot-presentacion.active {
  background-color: #ff9800;
  transform: scale(1.25);
  margin-right: 2px;
  margin-left: 2px;
}

/* ------------------------------------------------------------ */

 /* Sección Sobre Nosotros */
.Nosotros {
  background-color: #f0f0f0;
  padding: 80px 0;
}

.Nosotros .contenedor{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
}

.Nosotros h2 {
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  color: black;
}

/* Línea subrayada personalizada */
.Nosotros h2::after {
  content: "";
  display: block;
  width: 60%;
  height: 4px;
  background-color: #54b159; 
  margin: 8px auto 0;
  border-radius: 2px;
}

.Nosotros p {
  font-size: 18px;
  line-height: 1.6;
  color: #4b4b4b;
  max-width: 800px;
  margin: 0 auto 30px;
}

/*-------------- Seccion de eventos medio combinadas -----------------*/



  /* Orientaciones */
.Orientaciones, .Eventos {
  margin: 0 auto;
  padding: 20px;
}

.SubtituloOrientaciones {
  margin-bottom: 10px;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-color: #ff9800;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}

.SubtituloOrientaciones.Izq2{
  align-self: flex-start;
  margin-left: 100px;
  text-align: left;

}

.SubtituloOrientaciones.Der2{
  align-self: flex-end;
  margin-right: 100px;
  text-align: right;
}

.Slider {
  margin: 0 auto 40px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

    /* Slider 2 imágenes */
.slider-orientaciones, .cuatro-orientaciones{
  width: 1200px;
  max-width: 100%;
  height: 300px;
  margin: 0 auto 40px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}


.slider-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.Orientacion, .Evento {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Overlay {
  position: absolute;
  width: 35%;
  height: 100%;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: left;
}

.Overlay.Naranja { 
  background-color: rgba(255, 165, 0, 0.8); 
}

.Overlay.Izq { 
  top: 0;
  left: 0; 
}

.Overlay.Der { 
  top: 0;
  right: 0; 
}

.Overlay h3 { 
  margin: 0 0 10px; 
  font-size: 20px; 
}

.Overlay p { 
  margin: 0; 
  font-size: 15px; 
  line-height: 1.4; 
}
    
.BotonVerMas{ 
  position: absolute;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  text-decoration: none;     
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.BotonVerMas.Naranja {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 8px 100px;
  font-size: 20px;
} 
    
.Eventos {
  background-color: #f0f0f0;
}

.BotonVerMas.Naranja:hover {
  background-color: #ff9800;
  color: white;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active { 
  background-color: #ff9800; 
}

.Orientaciones{
  background-color: #e5e0d8;
}
  
.info-extra {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .55rem;
  color: #4b4b4b;
  text-decoration-color: #4b4b4b;
}

.info-extra a {
  color: #4b4b4b;
}

.info-extra hr {
  width: 265px;
  align-self: center;
}

/*----------------------------------------------------------*/   

/* Eventos */
.TituloOrientaciones {
  align-self: flex-start;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 40px;
}

.Evento1 {
  position: relative;
  max-width: 1155px; 
  height: 500px; 
  margin: 0 auto 40px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
}


.Overlay.Gris { 
  background-color: rgba(128, 128, 128, 0.8); 
}


#dots-eventos .dot { 
  background-color: gray; 
}

#dots-eventos .dot.active { 
  background-color: darkgray; 
}

.BotonVerMas.Gris {
  background-color: #ffffff;
  color: rgb(129, 129, 129);
  padding: 4px 50px;
  font-size: 18px;
  text-align: center;
  }
   
.BotonVerMas.Gris:hover {
  background-color: rgb(109, 108, 108);
  color: white;
}

  
.cuatro-eventos{
  max-width: 1155px;
  height: 250px;
}



.TituloEvento {
  margin-bottom: 20px;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 50px 0;
  text-decoration: underline;
  text-decoration-color: #4caf4f;
  text-underline-offset: 5px;
}

/* ------------------------------------------------------------ */

.inscripciones {
  background-color: #e5e0d8;  
  display: flex;
  height: 100vh;
  min-height: 750px;
  align-items: center;
}

.inscripciones p, 
.inscripciones h3,
.inscripciones h2{
  color: #4b4b4b;
}

.Titulo-Incripciones{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.Izquierda {
  width: 50%;
  padding: 0px 30px 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#hr-inscripciones-vertical {
  margin: 0;
  padding: 0;
  border: none;
  border-left: 2px solid #4b4b4b;
  height: 90%;
  align-self: center;
}

.Derecha {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.Subtitulo-Inscripcion {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #ff9800;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
}

.Texto-Inscripciones, .Texto-Pase{
  font-weight: 100;
  font-size: 17px;
  margin-bottom: 15px;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
}

.Texto-Inscripciones b{
  font-weight: bold;
}

.Titulo-Pase{  
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.Pase {
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Pase:last-child {
  border-bottom: none;
}

#hr-inscripciones {
  border: none;
  align-self: center;
  border-bottom: 2px solid #4b4b4b;
  width: 90%;
}

.BotonInscripciones {
  margin: 0;
  padding: 12px 25px;
  background-color: #ff9800;
  border: none;
  border-radius: 30px;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
  transition: 0.3s;
}

.BotonInscripciones:hover {
  background-color: #f0f0f0;
  color: #ff9800;
}

/* ------------------------------------------------------------ */

.Novedades {
  background-color: #f0f0f0;
  padding: 50px 20px;
  text-align: center;
}

.Novedades h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
}

.Novedades h2::after {
  content: "";
  display: block;
  width: 13%;
  height: 4px;
  background-color: #4caf4f;
  margin: 5px auto 0;
  border-radius: 2px;
}

/* === SLIDER === */
.slider-novedades {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-track-novedades {
  display: flex;
  align-items: center;
  transition: transform 0.4s ease;
}

.NovedadesRecuadro {
  flex: 0 0 100%;
  background-color: #ff9800;
  border-radius: 40px 0;
  overflow: hidden;
  display: flex;
  height: 250px;
}

.NovedadesImagenes {
  width: 400px;
  height: 100%;
  object-fit: cover;
  border-radius: 40px 0 0 0;
}

.ContenidoNovedades {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.ContenidoNovedades h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.ContenidoNovedades p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 40px;
}

.PosicionBoton {
  text-align: right;
}

.PosicionBoton a {
  text-decoration: none;
  color: #f0f0f0;
}

.BotonNovedades {
  background-color: #4caf4f;
  color: #f0f0f0;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.BotonNovedades:hover {
  background-color: #449347;
}

.BotonNovedades a {
  text-decoration: none;
  color: #f0f0f0;
}

/* === DOTS === */
.dots-novedades {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}

.dots-novedades div {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dots-novedades .active {
  background: #ff9800;
}


/* ------------------------------------------------------------ */

.container{
  width: 90%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-egresados{
  background-color: #e5e0d8;
  padding: 40px 0px;
}

.slider_container{
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;
}

.slider_body{
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  background-color: #e5e0d8;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;

}

.slider_body--show{
  opacity: 1;
  pointer-events: unset;
}

.slider_texts{
  max-width: 600px;
}

.slider_texts hr {
  margin-bottom: 17px;
  border: none;
  border-bottom: 1px solid #4b4b4b;
  width: 350px;
}

.subtitle{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.slider_review {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
}

.slider_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.slider_arrow{
  cursor: pointer;
  width: 90%;
}

.slider_arrow:nth-of-type(2){
  justify-self: end;
}

/* ------------------------------------------------------------ */

/* Sección Centro */
.CentroEstudiantil {
  background-color: #f0f0f0;
  padding: 0;
  display: flex;
  align-items: center;
  height: auto;
}

/* Contenedor de texto e imagen */
.CentroContenido {
  display: flex;
  width: 100%;
}

/* Texto */
.CentroTexto {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.CentroFoto {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.CentroFoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
}

/* Títulos */
.CentroTexto h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 30px;
  text-align: left;
}

.CentroTexto h2::after {
  content: "";
  display: block;
  width: 60%;
  height: 4px;
  background-color: #4caf4f;
  border-radius: 2px;
}

.CentroTexto h3 {
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: #4caf4f;
  text-decoration-thickness: 4px;
  margin-bottom: 20px;
}

/* Párrafo */
.CentroTexto p {
  background-color: #e5e0d8;
  font-size: 17px;
  line-height: 1.6;
  color: #333;
  text-align: center;
  padding: 15px 40px;
}

/* Botón */
.CentroTexto .Boton-Centro {
  background-color: #4caf4c;
  color: #f0f0f0;
  border: none;
  text-decoration: none;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  align-self: center;
}

.CentroTexto .Boton-Centro:hover {
  background-color: #449347;
}