* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------*/

.contacto {
  color: #4b4b4b;
  padding: 40px;
  background-color: #f0f0f0;
}

.contacto h2 {
  text-decoration: underline;
  text-decoration-color: #ff9800;
  margin-bottom: 20px;
  font-size: 40px;
}

.contenedor-contacto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.columna {
    flex: 1;
    min-width: 250px;
}

.columna h3 {
    font-size: 25px;
    margin-top: 30px;
}


.izquierda, .centro {
    text-align: center;
}


.columna p, .columna ul, .columna li {
    font-size: 14px;
}

.columna a {
  color: #4b4b4b;
  text-decoration: none;
  font-weight: bold;
}

.columna a:hover {
  text-decoration: underline;
  text-decoration-color: #4b4b4b;
}

@media (max-width: 768px) {
  .columna a {
    text-decoration: underline;
    text-decoration-color: #4b4b4b;
  }
}