* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------------------------ */
 
 /* Menú de navegación */ 
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to top,  #00a560, #c1ff72);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.LogoMenu {
    display: flex;             
    align-items: center;       
    flex-direction: row;       
}
  
.LogoMenu img {
    height: 50px;
    width: auto;
    margin-right: 12px;        
}
  
.TextoLogo {
    display: flex;
    flex-direction: column;    
    font-size: 17px;
    line-height: 1.2;
    color: black;
    white-space: nowrap;
   font-weight: bold;
}

/* Menu desktop y hamburguesa*/

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav .nav-list li a {
  text-decoration: none;
}

.sub-nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    gap: 5px;
    padding-top: 5px;

    transform: translateY(-10px);
    transition: max-height 0.7s ease, opacity 0.7s ease, transform 0.7s ease;
}

.sub-nav-list li {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sub-nav-list.activo li {
    opacity: 1;
    transform: translateX(0);
}

.sub-nav-list.activo li:nth-child(1) { transition-delay: 0.05s; }
.sub-nav-list.activo li:nth-child(2) { transition-delay: 0.1s; }
.sub-nav-list.activo li:nth-child(3) { transition-delay: 0.15s; }
.sub-nav-list.activo li:nth-child(4) { transition-delay: 0.2s; }
.sub-nav-list.activo li:nth-child(5) { transition-delay: 0.25s; }

  /* ----------------------------------------------------------------*/

  .Inscripciones {
    background-image: url("../../imgs/inschead.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;   
    align-items: center;
    display: flex;
}

.titulo-principal h1{
    color: #4b4b4b;
    margin-left: 100px;
    margin-top: -240px;
    font-size: 80px; 
}

.titulo-principal-mobile {
  display: none;
}

  /* ----------------------------------------------------------------*/

.main-content {
  width: 100%;
  background-color: #e5e0d8;
  color: #4b4b4b;
}

.bloques {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.titulo {
  background-color: #4caf4c;
  height: 60px;
  align-content: center;
  padding-left: 10px;
  width: 100%;
  max-width: 270px;

  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 50%, calc(100% - 30px) 100%, 0 100%);
}

.bloques-beige {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: #e5e0d8;
  min-height: 300px;
}

.izquierda {
  width: 55%;
  justify-items: center;
  align-content: center;
}

.derecha {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
}

.texto p {
  max-width: 70%;
}

.texto h2 {
  align-self: flex-start;
  text-align: left;
  width: auto;
  padding-left: 5%;
}

.h2-subtitle {
  color: #4b4b4b;
  text-decoration: underline;
  text-decoration-color: #ff9800;
}

#bloque-1, 
#bloque-2,
#bloque-3 {
  scroll-margin-top: 100px;
}

#desde-4to-title-mobile {
  display: none;
}

.texto p {
  color: #4b4b4b;
  padding: 20px;
}

.texto .texto-verde {
  text-decoration-color: #4caf4c;
}

.divisor-y {
  margin: 0;
  padding: 0;
  border: 0,9px solid #4b4b4b ;
  height: 250px;
  align-self: center;
}

.requisitos{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 50px;
  align-items: center;
  gap: 10px;
}

.requisitos ul li {
  color: #4b4b4b;
}

.h2-requisitos {
  color: #4b4b4b;
}

.bloques-blanco {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  min-height: 300px;
}

.divisor-x {
  border: 0,9px solid #4b4b4b;
  width: 70%;
}

#hr-x-slide-first {
  align-self: center;
}

#izq-3 ul li {
  color: #4b4b4b;
}

#bloque-3 {
  padding-bottom: 10px;
}

.bloque-reinscripciones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f0f0f0;
}

.izquierda-abajo {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.derecha-abajo {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.h3-subtitle {
  text-decoration: underline;
  text-decoration-color: #ff9800;
  color: #4b4b4b;
}

#titulo-reinscripciones {
  padding: 10px;
  color: #4b4b4b;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
}

.row-block {
  display: flex;
}

#reinscripciones-lista {
  max-width: 75%;
  color: #4b4b4b;
}

.abajo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 30px;
}

.abajo h2 {
  font-size: 2rem;
}

.reinscripciones-requisitos-lista {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.reinscripciones-requisitos-lista ul {
  max-width: 50%;
}

.reinscripciones-requisitos-lista ul li{
  font-size: 1rem;
}

/* Slider no conflictivos desktop */

.slider {
  display: flex;
  flex-direction: column;
}

.slider-4to {
  display: flex;
  flex-direction: row;
}

/* Ocultar dots */

.dots {
  display: none;
}

/* Mensaje final + link */

.fin {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#hr-fin-insc{
  align-self: center;
  width: 50%;
  border-top: 1px solid #4b4b4b;
  max-width: 400px;
}

#fin-insc-txt {
  color: #4b4b4b;
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
}

#fin-insc-txt a {
  color: #4b4b4b;
  text-decoration-color: #4b4b4b;
}

/*----------------------------- Tabla de horarios ----------------------------------*/

.tabla-container {
  padding: 50px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tabla-container h2 {
  font-size: 2.5rem;
  color: #4b4b4b;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
}

.tabla {
  border: 2px solid #4b4b4b;
  margin: 0 auto;
}

.tabla table {
  border-collapse: collapse;
}

.tabla tr ,
.tabla td {
  border: 1px solid #4b4b4b;
}

.tabla td {
  text-align: center;
  color: #4b4b4b;
  border: 1px solid #4b4b4b;
  width: 200px;
  height: 100px;
}

/*---------------------------------------------------------------*/
.Regimen{
  background-color:#e5e0d8;
  padding: 70px 20px;
  color: #4b4b4b;
}

.InformacionRegimen h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-color: #ff9800;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}


.InformacionRegimen h3{
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
}


.InformacionRegimen hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  width: 50%;
  margin-left: 25%;
}

.InformacionRegimen p{
  text-align: justify;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
}

.Contacto{
  font-size: 12px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  color: #4b4b4b;
  }

.fin-regimen {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#hr-regimen {
  width: 50%;
  max-width: 400px;
  border: 1px solid #4b4b4b;
}

.Contacto a{
  color: #4b4b4b;
  text-decoration-color: #4b4b4b;
}



/*---------------------------- Mobile -----------------------------------*/

@media (max-width: 1024px) {

  .Seccion {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .Informacion {
    width: 100%;
    border-right: none;
    padding-right: 0;
    text-align: center;
  }

  .Requisitos {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  /* QUITAR PUNTITOS DE LISTA */
  .Requisitos ul {
    list-style: none;
    padding-left: 0;
    columns: 1;
    display: inline-block;
  }

  .Requisitos li {
    font-size: 14px;
    margin: 8px 0;
  }

  .InformacionRegimen p,
  .Contacto {
    margin-left: 50px;
    margin-right: 50px;
  }

}

 

@media (max-width: 768px) {

.titulo-principal h1{
    display: none;
  }

  .titulo-principal-mobile {
    display: block;
    margin: 0 auto;
  }

  .titulo-principal-mobile h1 {
    font-size: 2rem;
    color: #4b4b4b;
    text-align: center;
  }

  /* Main content */

  .bloques-beige,
  .bloques-blanco,
  .row-block,
  .reinscripciones-requisitos-lista {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bloques-beige,
  .bloques-blanco {
    gap: 20px;
  }

  .izquierda,
  .izquierda-abajo,
  .derecha,
  .derecha-abajo {
    width: 100%;
  }

  .divisor-x,
  .divisor-y {
    display: none;
  }

 .texto {
    width: 95%;       
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  .texto .h2-subtitle {
    padding-left: 0;
    align-self: center;
    font-size: 2rem;
  }

  .texto h2, 
  .texto p {
    text-align: center;
  }

  .requisitos {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .requisitos ul {
    list-style-position: inside;
    padding: 0;
    text-align: left;
  }

  .bloque-reinscripciones {
    gap: 40px;
    align-items: center;
  }

  .row-block {
    gap: 20px;
  }

  .izquierda-abajo,
  .derecha-abajo {
    padding: 0px;
  }

  .derecha-abajo .texto > p,
  .izquierda-abajo .texto > p {
    padding-top: 0;
  }

  .reinscripciones-requisitos-lista {
    gap: 0;
  }

  /* slider textos sobrantes */
    /* Desde otra escuela */
  .slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  .slide {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    position: sticky;
    scroll-snap-align: center;
  }

    /* Desde otra escuela dots */

  .dots {
    display: flex;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
  }

  .dot {
    background-color: #4b4b4b;
    width: 15px;
    height: 15px;

    border-radius: 50%;
    border: none;

    transition: 0.5s ease;
  }

  .dot.active {
    background-color: #ff9800;
    scale: 1.25;
  }

  /* Slider Bloque 3 */

  .slider-4to {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 10px 0 10px 0;
  }

  .slider-4to::-webkit-scrollbar {
    display: none;
  }

  #desde-4to-title {
    display: none;
  }

  #desde-4to-title-mobile {
    display: block;
    font-size: 2rem;
  }

  /* Slider Reinscripciones */

  .row-block {
    flex-direction: row;
    gap: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .row-block::-webkit-scrollbar {
    display: none;
  }

  .izquierda-abajo,
  .derecha-abajo {
    flex-shrink: 0;
    scroll-snap-align: center;
    position: sticky;
  }

  .izquierda-abajo > .texto,
  .derecha-abajo > .texto {
    width: 100%;
  }

  /* Regimen */
  .InformacionRegimen h2 {
    font-size: 28px;
  }

  .InformacionRegimen p {
    font-size: 14px;
    text-align: justify;
  }

}