* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------------------------ */

 /* Menú de navegación */ 
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to top,  #00a560, #c1ff72);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.LogoMenu {
    display: flex;
    align-items: center;
    flex-direction: row;
}
  
.LogoMenu img {
    height: 50px;
    width: auto;
    margin-right: 12px;
}
  
.TextoLogo {
    display: flex;
    flex-direction: column;    
    font-size: 17px;
    line-height: 1.2;
    color: black;
    white-space: nowrap;
   font-weight: bold;
}

/* Menu desktop y hamburguesa*/

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav .nav-list li a {
  text-decoration: none;
}

.sub-nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    gap: 5px;
    padding-top: 5px;

    transform: translateY(-10px);
    transition: max-height 0.7s ease, opacity 0.7s ease, transform 0.7s ease;
}

.sub-nav-list li {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sub-nav-list.activo li {
    opacity: 1;
    transform: translateX(0);
}

.sub-nav-list.activo li:nth-child(1) { transition-delay: 0.05s; }
.sub-nav-list.activo li:nth-child(2) { transition-delay: 0.1s; }
.sub-nav-list.activo li:nth-child(3) { transition-delay: 0.15s; }
.sub-nav-list.activo li:nth-child(4) { transition-delay: 0.2s; }
.sub-nav-list.activo li:nth-child(5) { transition-delay: 0.25s; }

/* ------------------------------------------------------------ */


/* ===== SECCIÓN PRESENTACIÓN ===== */
.Presentacion {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

/* -------- SLIDER -------- */
.Presentacion .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Presentacion .slider ul {
  display: flex;
  animation: slide 10s infinite alternate linear;
  width: 200%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.Presentacion .slider li {
  width: 100%;
  list-style: none;
}

.Presentacion .slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  0% {margin-left: 0;}
  45% {margin-left: 0;}

  55% {margin-left: -100%;}
  100% {margin-left: -100%;}
}

/* -------- CONTENIDO ENCIMA -------- */
.ContenidoPresentacion {
  position: relative;
  z-index: 2; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 250px;
  padding: 0 60px;
}

/* Caja del texto */
.TextoBienvenida {
  background-color: rgba(252, 158, 16, 0.75);
  max-width: 475px;
  min-height: 325px;
  padding: 60px;
  border-radius: 15px;
  color: black;
}

.TextoBienvenida h1 {
  font-size: 35px;
}

.TextoBienvenida p {
  font-size: 18px;
  margin-bottom: 30px;
}

.BotonBienvenida {
  background-color: #4caf4f;
  color: #f0f0f0;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.BotonBienvenida:hover {
  background-color: #81c784;
}

  /* Logo grande */
.LogoPrincipal {
  height: 340px;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
/* ------------------------------------------------------------ */

 /* Sección Sobre Nosotros */
.Nosotros {
  background-color: #f0f0f0;
  padding: 80px 0;
}

.Nosotros .contenedor{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
}

.Nosotros h2 {
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  color: black;
}

/* Línea subrayada personalizada */
.Nosotros h2::after {
  content: "";
  display: block;
  width: 60%;
  height: 4px;
  background-color: #54b159; 
  margin: 8px auto 0;
  border-radius: 2px;
}

.Nosotros p {
  font-size: 18px;
  line-height: 1.6;
  color: #4b4b4b;
  max-width: 800px;
  margin: 0 auto 30px;
}

/*-------------- Seccion de eventos medio combinadas -----------------/*



  /* Orientaciones */
.Orientaciones, .Eventos {
  margin: 0 auto;
  padding: 20px;
}

.SubtituloOrientaciones {
  margin-bottom: 10px;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-color: #ff9800;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}

.SubtituloOrientaciones.Izq2{
  align-self: flex-start;
  margin-left: 100px;
  text-align: left;

}

.SubtituloOrientaciones.Der2{
  align-self: flex-end;
  margin-right: 100px;
  text-align: right;
}

.Slider {
  margin: 0 auto 40px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

    /* Slider 2 imágenes */
.slider-orientaciones, .cuatro-orientaciones{
  width: 1200px;
  max-width: 100%;
  height: 300px;
  margin: 0 auto 40px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}


.slider-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.Orientacion, .Evento {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Overlay {
  position: absolute;
  width: 35%;
  height: 100%;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: left;
}

.Overlay.Naranja { 
  background-color: rgba(255, 165, 0, 0.8); 
}

.Overlay.Izq { 
  top: 0;
  left: 0; 
}

.Overlay.Der { 
  top: 0;
  right: 0; 
}

.Overlay h3 { 
  margin: 0 0 10px; 
  font-size: 20px; 
}

.Overlay p { 
  margin: 0; 
  font-size: 15px; 
  line-height: 1.4; 
}
    
.BotonVerMas{ 
  position: absolute;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  text-decoration: none;     
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.BotonVerMas.Naranja {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 8px 100px;
  font-size: 20px;
} 
    
.Eventos {
  background-color: #f0f0f0;
}

.BotonVerMas.Naranja:hover {
  background-color: #ff9800;
  color: white;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active { 
  background-color: #ff9800; 
}

.Orientaciones{
  background-color: #e5e0d8;
}
  
.info-extra {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .55rem;
  color: #4b4b4b;
  text-decoration-color: #4b4b4b;
}

.info-extra a {
  color: #4b4b4b;
}

.info-extra hr {
  width: 265px;
  align-self: center;
}

/*----------------------------------------------------------*/   

/* Eventos */
.TituloOrientaciones {
  align-self: flex-start;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 40px;
}

.Evento1 {
  position: relative;
  max-width: 1155px; 
  height: 500px; 
  margin: 0 auto 40px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
}


.Overlay.Gris { 
  background-color: rgba(128, 128, 128, 0.8); 
}


#dots-eventos .dot { 
  background-color: gray; 
}

#dots-eventos .dot.active { 
  background-color: darkgray; 
}

.BotonVerMas.Gris {
  background-color: #ffffff;
  color: rgb(129, 129, 129);
  padding: 4px 50px;
  font-size: 18px;
  text-align: center;
  }
   
.BotonVerMas.Gris:hover {
  background-color: rgb(109, 108, 108);
  color: white;
}

  
.cuatro-eventos{
  max-width: 1155px;
  height: 250px;
}



.TituloEvento {
  margin-bottom: 20px;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 50px 0;
  text-decoration: underline;
  text-decoration-color: #4caf4f;
  text-underline-offset: 5px;
}

/* ------------------------------------------------------------ */

.inscripciones {
  background-color: #e5e0d8;  
  display: flex;
  height: 120vh;
}

.Titulo-Incripciones{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.Izquierda {
  width: 50%;
  padding: 0px 30px 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#hr-inscripciones-vertical {
  margin: 0;
  padding: 0;
  border: none;
  border-left: 2px solid #4b4b4b;
  height: 90%;
  align-self: center;
}

.Derecha {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.Subtitulo-Inscripcion {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #ff9800;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
}

.Texto-Inscripciones, .Texto-Pase{
  font-weight: 100;
  font-size: 17px;
  margin-bottom: 15px;
  line-height: 1.5;
  text-align: center;
  padding: 0px 40px 20px 2px;


}
.Texto-Inscripciones b{
  font-weight: bold;
}

.Titulo-Pase{  
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}


.Pase {
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Pase:last-child {
  border-bottom: none;
}

#hr-inscripciones {
  border: none;
  align-self: center;
  border-bottom: 2px solid #4b4b4b;
  width: 90%;
}

.BotonInscripciones {
  margin: 0;
  padding: 12px 25px;
  background-color: #ff9800;
  border: none;
  border-radius: 30px;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
  transition: 0.3s;
}

.BotonInscripciones:hover {
  background-color: #f0f0f0;
  color: #ff9800;
}

/* ------------------------------------------------------------ */

.Novedades {
  background-color: #f0f0f0;
  padding: 50px 20px;
  text-align: center;
}

.Novedades h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
}

.Novedades h2::after {
  content: "";
  display: block;
  width: 13%;
  height: 4px;
  background-color: #4caf4f;
  margin: 5px auto 0;
  border-radius: 2px;
}

/* === SLIDER === */
.slider-novedades {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-track-novedades {
  display: flex;
  transition: transform 0.6s ease;
}

.NovedadesRecuadro {
  flex: 0 0 100%;
  background-color: #ff9800;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  height: 250px;
}

.NovedadesImagenes {
  width: 400px;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.ContenidoNovedades {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.ContenidoNovedades h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.ContenidoNovedades p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 40px;
}

.PosicionBoton {
  text-align: right;
}

.BotonNovedades {
  background-color: #4caf4f;
  color: #f0f0f0;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.BotonNovedades:hover {
  background-color: #449347;
}

/* === DOTS === */
.dots-novedades {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}

.dots-novedades div {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dots-novedades .active {
  background: #ff9800;
}


/* ------------------------------------------------------------ */

.container{
  width: 90%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-egresados{
  background-color: #e5e0d8;
  padding: 40px 0px;
}

.slider_container{
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;
}

.slider_body{
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  background-color: #e5e0d8;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;

}

.slider_body--show{
  opacity: 1;
  pointer-events: unset;
}

.slider_texts{
  max-width: 600px;
}

.slider_texts hr {
  margin-bottom: 17px;
  border: none;
  border-bottom: 1px solid #4b4b4b;
  width: 350px;
}

.subtitle{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.slider_review {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
}

.slider_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.slider_arrow{
  cursor: pointer;
  width: 90%;
}

.slider_arrow:nth-of-type(2){
  justify-self: end;
}

/* ------------------------------------------------------------ */

/* Sección Centro */
.CentroEstudiantil {
  background-color: #f0f0f0;
  padding: 0;
  display: flex;
  align-items: center;
  height: auto;
}

/* Contenedor de texto e imagen */
.CentroContenido {
  display: flex;
  width: 100%;
}

/* Texto */
.CentroTexto {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.CentroFoto {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.CentroFoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
}

/* Títulos */
.CentroTexto h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 30px;
  text-align: left;
}

.CentroTexto h2::after {
  content: "";
  display: block;
  width: 60%;
  height: 4px;
  background-color: #4caf4f;
  border-radius: 2px;
}

.CentroTexto h3 {
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: #4caf4f;
  text-decoration-thickness: 4px;
  margin-bottom: 20px;
}

/* Párrafo */
.CentroTexto p {
  background-color: #e5e0d8;
  font-size: 17px;
  line-height: 1.6;
  color: #333;
  text-align: center;
  padding: 15px 40px;
}

/* Botón */
.CentroTexto .Boton-Centro {
  background-color: #4caf4c;
  color: #f0f0f0;
  border: none;
  text-decoration: none;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  align-self: center;
}

.CentroTexto .Boton-Centro:hover {
  background-color: #449347;
}

/* ------------------------------------------------------------ */

/*  Footer */  

.PaginaPie {
  background: linear-gradient(to top,  #00a560, #c1ff72);
  color: rgb(0, 0, 0);
  padding: 40px 20px;
  position: relative;
  font-weight: bold;
}

.Pie {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.LogoNombre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


.PieLogo {
  width: 100px;
  height: auto;
  margin-right: 15px; 
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.NombreEscuela {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.NombreEscuela p {
  display: block;
}

.NavegacionRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.LogosRedes {
  display: flex;
  flex-direction: column;  
  gap: 10px;  
  align-items: center;  
  padding: 1rem;
}

.RedesIconos img {
  width: 40px;  
  height: auto;
}


.NavegacionRapida {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.NavegacionSecciones {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.NavegacionSecciones h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones h3 a{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones ul {
  list-style-type: none;
  padding-left: 0;
}

.NavegacionSecciones li {
  margin: 5px 0;
}

.NavegacionSecciones a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.NavegacionSecciones a:hover {
  text-decoration: underline;
}



@media (max-width: 1024px) {

  .Presentacion {
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    height: auto;
    align-items: center;
    padding: 60px 30px;
  }

  .ContenidoPresentacion{
    gap: 30px;
  }

  .TextoBienvenida {
    margin-left: 0;
    max-width: 100%;
    padding: 20px;
    text-align: center;
  }

  .TextoBienvenida h1 {
    font-size: 40px;
  }

  .TextoBienvenida p {
    font-size: 24px;
  }

  .BotonBienvenida {
    display: inline-block;
    margin: 20px auto 0;
  }

  .LogoPrincipal {
    margin-left: 0;
    margin-top: 20px;
    height: 250px;
  }

/* ---------------------------------------------------------- */

.Nosotros {
    padding: 60px 20px;
  }

.Nosotros h2 {
    font-size:30px;
  }

.Nosotros p {
    font-size:20px;
  }

.Nosotros .BotonNosotros {
    font-size: 20px;
    padding: 6px 50px;
  }
/* ---------------------------------------------------------- */


.slider-orientaciones, .cuatro-orientaciones,
.Evento1, .cuatro-eventos {
    width: 90%;
    height: 250px;
  }

.Overlay {
    width: 100%;
    padding: 15px;
  }

.Overlay.Naranja h3, .Overlay.Gris h3 {
  text-align: center;
  font-size: 20px;
  }

.Overlay.Naranja p, .Overlay.Gris p {
  text-align: center;
  font-size: 15px;
  }


  .BotonVerMas.Naranja, .BotonVerMas.Gris {
    padding: 8px 60px;
    font-size: 18px;
  }
  

  .SubtituloOrientaciones.Izq2,
  .SubtituloOrientaciones.Der2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .TituloOrientaciones h1 {
    font-size: 28px;
  }

  .TituloEvento {
    font-size: 1.8rem;
  }
  
/*-----------------------------------------------------------*/

 .inscripciones {
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
  }

  #hr-inscripciones-vertical {
  margin: 0;
  padding: 0;
  border: none;
  border: 1px solid #4b4b4b;
  width: 85%;
}

  .Titulo-Incripciones, .Titulo-Pase{
    font-size: 45px;
  }

    .Subtitulo-Inscripcion{
    font-size: 20px;
    margin-bottom: 5px;
  }

  .Texto-Inscripciones, .Texto-Pase{
    margin-top: 5px;
    font-size: 15px;
  
  }
  

  .Izquierda, .Derecha {
    width: 90%;
    padding: 20px;
    border-right: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
  }

  .Pase {
    flex: unset;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;          
    text-align: center;
  }

  #hr-inscripciones {
  border: none;
  align-self: center;
  border-bottom: 2px solid #4b4b4b;
  width: 100%;
  }
  
  .BotonInscripciones {
    align-self: center;          
  }


  /*----------------------------------------*/

 .NovedadesRecuadro {
    flex-direction: column; 
    height: auto;       
  }

  .NovedadesImagenes {
    width: 100%;            
    height: 400px;           
    border-radius: 40px 40px 0 0; 
  }

  .ContenidoNovedades {
    padding: 20px;
    text-align: center;     
  }

  .ContenidoNovedades h3,
  .ContenidoNovedades p {
    text-align: center;
  }

  .PosicionBoton {
    text-align: center;    
    margin-bottom: 20px;
  }

}



/* Móvil */
@media (max-width: 768px) {
.ContenidoPresentacion {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
  }

.TextoBienvenida {
    max-width: 100%;
    text-align: center;

  }

.TextoBienvenida h1 {
    font-size: 32px;
  }

.TextoBienvenida p {
    font-size: 24px;
    margin-top: 10px;
  }

.LogoPrincipal {
    width: auto;
    height: 200px;
  }

/*-------------------------------------------------*/

.Nosotros {
    padding: 50px 15px;
  }

  .Nosotros h2 {
    font-size: 25px;
  }

  .Nosotros p {
    font-size: 16px;
  }

  .Nosotros .BotonNosotros {
    font-size: 18px;
    padding: 6px 40px;
  }

  /* ---------------------------------------------------------- */

  .slider-orientaciones, .cuatro-orientaciones,
  .Evento1, .cuatro-eventos {
    width: 100%;
    height: 400px;
  }


  .Overlay h3 {
    font-size: 17px;
  }

  .Overlay p {
    font-size: 14px;
  }
 
  .SubtituloOrientaciones.Izq2,
  .SubtituloOrientaciones.Der2 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }


.TituloOrientaciones h1 {
    font-size: 22px;
    text-align: center;
}

.Evento1{
  width: 100%; 
  height: 400px; 
}

.cuatro-eventos{
  width: 100%;
  height: 300px;
}

.TituloEvento {
  font-size: 1.5rem;
  text-align: center;
  } 
  
.BotonVerMas.Gris, .BotonVerMas.Naranja {
  padding: 8px 50px;
  font-size: 14px;
  }

 /*-------------------------------------- */

 .inscripciones {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .Izquierda, .Derecha {
    width: 95%;
    padding: 15px;
    margin-bottom: 15px;
  }


.BotonInscripciones {
    width: 60%;                
    text-align: center;
  }

/*--------------------------------*/
 .Novedades h2 {
    font-size: 35px;      
  }

  .ContenidoNovedades h3 {
    font-size: 25px;
  }

  .ContenidoNovedades p {
    font-size: 14px;
  }

  .NovedadesRecuadro {
    border-radius: 30px;
  }

  .NovedadesImagenes {
    border-radius: 30px 30px 0 0;
  }

 /*------------------------ */


/* Slider testimonios */
.slider_body{
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 1rem;
}

.slider_pinture {
  grid-row: 1/2;
}

.slider_img{
  width: 210px;
  height: 210px;
}

.slider_texts hr{
    min-width: 100%;
}


/*---------------------------*/

.CentroContenido {
    flex-direction: column; /* texto arriba, imagen abajo */
    align-items: center;
  }

  .CentroFoto {
    width: 80%; /* centrada pero no tan grande */
    max-height: 300px;
    margin-top: 20px;
  }

  .CentroFoto img {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    border-radius: 0%;
  
  }

}



@media (max-width:425px){

.slider_container{
  grid-template-columns: 25px 1fr 25px;
}

.slider_arrow {
  width: 90%;
}

.slider_img{
  width: 180px;
  height: 180px;
}


.subtitle{
  font-size: 2rem;
  margin-bottom: 15px;
}

.slider_review{
  font-size: 1rem;
  line-height: 1.6;
}

/*--------------------------------------------------------*/


 .CentroFoto {
    width: 90%;
    max-height: 220px;
    margin-top: 20px;
  }

  .CentroFoto img {
    width: 100%;
    height: auto;
  }
}