* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------------------------ */
 
 /* Menú de navegación */ 
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to top,  #00a560, #c1ff72);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.LogoMenu {
    display: flex;             
    align-items: center;       
    flex-direction: row;       
}
  
.LogoMenu img {
    height: 50px;
    width: auto;
    margin-right: 12px;        
}
  
.TextoLogo {
    display: flex;
    flex-direction: column;    
    font-size: 17px;
    line-height: 1.2;
    color: black;
    white-space: nowrap;
   font-weight: bold;
}

/* Menu desktop y hamburguesa*/

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav .nav-list li a {
  text-decoration: none;
}

.sub-nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    gap: 5px;
    padding-top: 5px;

    transform: translateY(-10px);
    transition: max-height 0.7s ease, opacity 0.7s ease, transform 0.7s ease;
}

.sub-nav-list li {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sub-nav-list.activo li {
    opacity: 1;
    transform: translateX(0);
}

.sub-nav-list.activo li:nth-child(1) { transition-delay: 0.05s; }
.sub-nav-list.activo li:nth-child(2) { transition-delay: 0.1s; }
.sub-nav-list.activo li:nth-child(3) { transition-delay: 0.15s; }
.sub-nav-list.activo li:nth-child(4) { transition-delay: 0.2s; }
.sub-nav-list.activo li:nth-child(5) { transition-delay: 0.25s; }

/* -------------------------------------------------*/

.Centro {
    background-image: url("../../imgs/Centro.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;   
    align-items: center;
    display: flex;
    
}

.TituloPrincipal h1{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 100px;
    padding-right: 120px ;
    font-size: 80px; 
    background-color:rgb(25, 179, 25);
    line-height: 96px;
}


/* ----------------------------------------------------------------*/

.main-info-container {
  color: #4b4b4b;

  width: 100%;
  height: 45vh;
  background-color: #f0f0f0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-info-container-mobile {
  display: none;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  
  background-color: #4b4b4b;
  border-radius: 50%;

  transition: all .5s ease;

  position: relative;
}

.btn label {
  position: absolute;
  font-size: .7rem;
  
  top: -120%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: all .5s ease;

  text-align: center;
  width: 150px;
  padding: 5px 10px;
}

.btn h2,
.btn p {
  display: none;
  opacity: 0;
}

.btn:hover {
  transform: scale(1.5);
  background-color: #e5e0d8;
}

.btn:hover label {
  opacity: 1;
}

.btn.active {
  width: 100%;
  height: 100%;

  border-radius: 0;
  background-color: #e5e0d8;

  gap: 20px;
}

.btn.active label {
  top: 10px;
  opacity: 0;
}

.btn.active h2,
.btn.active p {
  display: block;
  opacity: 1;
  transition: opacity .7s ease .2s;

  width: 400px;
  text-align: center;
}

.btn.active:hover {
  transform: none;
  background-color: #e5e0d8;
}

.btn.nonactive {
  flex: 0 0 0;
  opacity: 0;
  transform: scale(0.7);
  pointer-events: none;
  transition: all .5s ease;
}

/* info extra */

.info-extra {
  color: #4b4b4b;
  background-color: #e5e0d8;
  padding: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.logros,
.contactos {
  display: flex;
  flex-direction: column;
  gap: 5px;

  background-color: #f0f0f0;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.logros h2 {
  text-align: center;
}

.contactos h2 {
  text-align: center;
}

.logros ul li {
  text-align: justify;
}

#contact,
.contactos a {
  font-weight: 600;
}

.contactos p > a {
  text-decoration-color: #4b4b4b;
  color: #4b4b4b;
}

/* Fotos */

.fotos-centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4b4b4b;
  gap: 30px;
  background-color: #f0f0f0;
}

.fotos-centro > h1 {
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
}

.imgs-cargos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}

.img-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  flex: 1 1 250px;
}

.nombre {
  background-color: #e5e0d8;
  border-radius: 90px;
  width: 200px;
}

.img-container img {
  width: calc(70% + 25px);
  height: calc(70% - 20px);
  object-fit: cover;
}

.foto-grupal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.foto-grupal h1 {
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
}

.foto-grupal img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 19 / 9;
}

/* Fotos individuales */

#tesorero-container, 
#tesorero-container img {
  border-radius: 50%;
}

/* Votaciones */

.votaciones{
  display: flex;
}
.votaciones h1{
  text-decoration: underline;
  text-decoration-color: orange;
  padding: 20px;
}

.bloquevot1 img{
display: flex;
min-width: 50px;
height: 300px;
align-items: start;
}

.bloquevot1 h2{
  align-items: end;
}

.votaciones {
  display: none;
}

/*---------------------------- Mobile -----------------------------------*/

/* ------------------- MEDIA QUERIES ------------------- */
@media (max-width: 1024px) {

   .Centro {
      height: 50vh;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .TituloPrincipal h1 {
      font-size: 60px;
      margin: 0;
      padding: 10px 20px;
      line-height: 60px;
  }
     /* Tarjetas en columna y centradas */
  .tarjeta {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      padding: 15px;      
      width: 90%;          
      max-width: 350px;   
      height: auto;       
  }

  .tarjeta h3 {
      order: 0;
      margin-bottom: 10px;
      width: 100%;
  }

  .tarjeta p {
      order: 1;
      width: 100%;
  }


  /* Sección CentroEstudiantil: columna */
  .beige, .blanco {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  /* Tarjetas: centradas */
  .blanco1, .blanco2, .beige1, .beige2 {
    transform: rotate(0deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    clip-path: none;
    width: 90%;
    max-width: 350px;
    margin: 20px 0;
  }

  /* Integrantes: columna */
  .Integrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.tarjeta1, .tarjeta2 {
    position: static;
    transform: rotate(0deg);
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.tarjeta1.a, .tarjeta1.b, .tarjeta1.c,
.tarjeta2.a, .tarjeta2.b, .tarjeta2.c, 
.tarjeta2.d, .tarjeta2.e{
  transform: rotate(0deg);
}

}

@media  (max-width: 768px) {
  .Centro {
      height: 40vh;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .TituloPrincipal h1 {
      font-size: 45px;
      margin: 0;
      padding: 5px 10px;
      line-height: 45px;
  }

  /* Info extra */

  .logros ul li {
    text-align: start;
  }

  .contactos p {
    text-align: center;
  }

  .fotos-centro h1,
  .foto-grupal h1 {
    font-size: 2rem;
    text-align: center;
  }

}

@media screen and (max-width: 768px){

  /* Botones de arriba */

  .btn label {
    opacity: 1;
  }

  .btn:hover {
    background-color: #4b4b4b;
    transform: scale(1);
  }

  /* Fotos */

  #presidente-container {
    order: 3;

    padding-top: 50px;
  }

}

@media screen and (max-width: 499px){

  /* Botones de arriba */

  .main-info-container {
    display: none;
  }

  .main-info-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #4b4b4b;
  }

  .main-info-container-mobile > div {
    padding: 20px 10px 20px 10px;

  }

  .beige h2, 
  .gris h2 {
    text-decoration: underline;
  }

  .beige h2 {
    text-decoration-color: #ff9800;
  }

  .gris h2 {
    text-decoration-color: #4caf4c;
  }

  .beige {
    background-color: #e5e0d8;
  }

  .gris {
    background-color: #f0f0f0;
  }

  /* Fotos */

  #vice-container {
    order: 2;
  }

  #presidente-container {
    order: 1;

    padding-top: calc(-50px);
  }

  #tesorero-container {
    order: 3;
  }
}
