* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
body {
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------------------------ */
 
 /* Menú de navegación */ 
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to top,  #00a560, #c1ff72);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.LogoMenu {
    display: flex;             
    align-items: center;       
    flex-direction: row;       
}
  
.LogoMenu img {
    height: 50px;
    width: auto;
    margin-right: 12px;        
}
  
.TextoLogo {
    display: flex;
    flex-direction: column;    
    font-size: 17px;
    line-height: 1.2;
    color: black;
    white-space: nowrap;
   font-weight: bold;
}

/* Menu desktop y hamburguesa*/

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav .nav-list li a {
  text-decoration: none;
}

.sub-nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    gap: 5px;
    padding-top: 5px;

    transform: translateY(-10px);
    transition: max-height 0.7s ease, opacity 0.7s ease, transform 0.7s ease;
}

.sub-nav-list li {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sub-nav-list.activo li {
    opacity: 1;
    transform: translateX(0);
}

.sub-nav-list.activo li:nth-child(1) { transition-delay: 0.05s; }
.sub-nav-list.activo li:nth-child(2) { transition-delay: 0.1s; }
.sub-nav-list.activo li:nth-child(3) { transition-delay: 0.15s; }
.sub-nav-list.activo li:nth-child(4) { transition-delay: 0.2s; }
.sub-nav-list.activo li:nth-child(5) { transition-delay: 0.25s; }

/* -------------------------------------------------*/

.Exposiciones {
    background-image: url("../../imgs/expo202414.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;   
    align-items: center;
    display: flex;
    
}

.TituloPrincipal h1{
    color: rgb(49, 49, 49);
    margin-left: 30px;
    margin-top: -200px;
    padding-right: 200px ;
    font-size: 80px; 
    background-color: rgba(139, 137, 137, 0.5);
    line-height: 96px;
}

/* ------------------------------------------- Introducción ---------------------*/

.introduccion-container {
  background-color: #f0f0f0;
  padding: 45px 20px;
}

.int-titulo {
  color: #4b4b4b;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
}

.int-content{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.int-izquierda {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.texto {
  background-color: #e5e0d8;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
}

.int-derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

#int-img {
  margin-top: 7.5%;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
  max-width: 450px;
}

/*----------------------------------------------------------------------------------------------------*/

.expo-general-container {
  height: 70vh;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#expo-titulo {
  color: #4b4b4b;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 35px;
  padding: 10px;
  text-align: center;
}

.expo-general-sld-container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.expo-general-sld {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 8px;
}

.expo-general-sld img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background-color: #4b4b4b;
  border-radius: 8px;
  background-color: rgba(75, 75, 75, 0.5);
  padding: 5px 5px 10px 5px;
}

.overlay button {
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  color: #4b4b4b;
  background-color: #e5e0d8;

  transition: all .5s ease;
}

.overlay button:hover {
  background-color: #4b4b4b;
  color: #e5e0d8;
}

.overlay h3 {
  color: #f0f0f0;
}

.bi {
  font-size: 3rem;
}

/* Dots */

.dots-expo-general-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 30px;
}

.dot-expo-general {
  background-color: #4b4b4b;
  border: none;
  width: 15px;
  height: 15px;
  transition: all .5s ease;
  border-radius: 50%;
}

.dot-expo-general:hover {
  transform: scale(1.25);
  background-color: #ff9800;
}

/* Proyectos expo */

.proyectos-sld {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #e5e0d8;
  color: #4b4b4b;
  height: 70vh;
  padding: 20px;
}

.proyectos-sld h1,
.proyectos-sld h2 {
  text-decoration: underline;
  text-decoration-color: #ff9800;
}

.proyectos-sld-container {
  padding: 10px;
  width: 100%;
  height: 60%;
}

/*------- Proyectos 7mo -------*/

.septimo-proyectos {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 20px 0;
}

.septimo-proyectos h1 {
  color: #4b4b4b;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 2rem;
}

#choice-img {
  display: flex;
  width: 100%;
  min-height: 95vh;
}

.img-septimo {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.img-septimo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.6s ease;
}

.img-septimo:hover img {
  transform: scale(1.1);
}

.explicacion h2 {
  color: #4b4b4b;
  text-align: center;
  min-width: 200px;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 1.3rem;
  padding-bottom: 15px;
}

.explicacion-texto {
  display: flex;
  gap: 30px;
  padding: 10px;
  justify-content: center;
}

.explicacion-texto p {
  color: #4b4b4b;
  max-width: 500px;
  min-width: 250px;
  text-align: justify;
}

/*---------------------------------------------------------------*/
.PaginaPie {
  background: linear-gradient(to top,  #00a560, #c1ff72);
  color: rgb(0, 0, 0);
  padding: 40px 20px;
  position: relative;
  font-weight: bold;
}

.Pie {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.LogoNombre {
  display: flex;
  flex-direction: column; /* El logo y el nombre estarán uno debajo del otro */
  align-items: flex-start;
  margin-bottom: 20px; /* Un pequeño margen abajo */
}


.PieLogo {
  width: 100px;
  height: auto;
  margin-right: 15px; 
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.NombreEscuela {
  font-size: 16px;  /* Reducimos el tamaño del texto */
  font-weight: bold;
  line-height: 1.2;  /* Alinea las líneas de texto */
}

.NombreEscuela p {
  display: block;  /* Hace que cada parte del nombre esté en una línea */
}

.NavegacionRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.LogosRedes {
  display: flex;
  flex-direction: column;  /* Cambiar de fila a columna */
  gap: 10px;  /* Opcional: agrega espacio entre las imágenes */
  align-items: center;  /* Centra las imágenes */
}

.RedesIconos img {
  width: 40px;  /* Ajusta el tamaño de las imágenes */
  height: auto;
}


.NavegacionRapida {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.NavegacionSecciones {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.NavegacionSecciones h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones h3 a{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones ul {
  list-style-type: none;
  padding-left: 0;
}

.NavegacionSecciones li {
  margin: 5px 0;
}

.NavegacionSecciones a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.NavegacionSecciones a:hover {
  text-decoration: underline;
}

@media  (max-width: 1028px) {

      .MenuHamburguesa {
    display: block;
  }

  .LinksMenu {
    display: none;  /* oculto por defecto */
    flex-direction: column;
    width: 100%;
    background-color: #c8e6c9;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 0;
    margin: 0;
  }

  .LinksMenu a {
    padding: 15px 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
  }

  .LinksMenu.activo {
    display: flex;
  }

.Exposiciones {
      height: 50vh;  /* Reducimos la altura de la sección */
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .TituloPrincipal h1 {
      font-size: 70px;   /* Reducimos tamaño de fuente */
      margin: 0;
      padding: 10px 20px;
      line-height: 60px;
  }
 

  /* Expo1: columnas en columna */
  .Contenedor1 {
    flex-direction: column;
    align-items: center;
  }

  .Columna2 {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .Imagen2y3 {
    max-width: 300px;
    height: auto;
  }

  /* Proyectos: columnas centradas */
  .Contenedor2 {
    flex-direction: column;
    align-items: center;
  }

  .Columna3 {
    width: 90%;
  }

  .ImagenProyecto {
    max-width: 100%;
  }

  /* Proyectos2: columnas en columna */
  .Proyec1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Texto3 {
    width: 90%;
  }

  .ImagenProyecto2 {
    max-width: 80%;
  }

  /* Seccion2: columnas en columna */
  .Contenedor3 {
    flex-direction: column;
    align-items: center;
  }

  .ColumnaIzquierda, .ColumnaDerecha {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .Imagen4 {
    max-width: 90%;
  }

  /* Seccion3: bloques en columna */
  .Bloque1 {
    flex-direction: column;
    align-items: center;
  }

  .Columna4 {
    width: 90%;
    text-align: center;
  }

  .ImagenSeccion3 {
    gap: 20px;
  }

  .Imagen5 {
    width: 200px;
    height: auto;
  }

  .Imagen5.GirarIzquierda.a {
    transform: rotate(-6deg) translateX(100px);
}

.Imagen5.GirarIzquierda.b {
    transform: rotate(-6deg) translateX(100px);
    margin-top: 50px;
  }

.Imagen5.GirarDerecha.a {
    transform: rotate(6deg) translateX(-20px);
}

.Imagen5.GirarDerecha.b {
    transform: rotate(6deg) translateX(170px);
    margin-bottom: 50px;
}

}

/* Celular: 768px */
@media (max-width: 768px) {

  /* Título principal aún más pequeño */
  .TituloPrincipal h1 {
    font-size: 50px;
    line-height: 50px;
    margin-top: -60px;
  }

  /* Expo1 */
  .Imagen1 {
    max-width: 90%;
    height: auto;
  }

  .Imagen2y3 {
    max-width: 90%;
    margin: 0 auto;
  }

  /* Proyectos */
  .Columna3 {
    width: 95%;
  }

  .ImagenProyecto {
    max-width: 100%;
  }

  /* Proyectos2 */
  .Texto3 {
    width: 95%;
  }

  .ImagenProyecto2 {
    max-width: 95%;
  }

  /* Seccion2 */
  .ColumnaIzquierda, .ColumnaDerecha {
    width: 100%;
  }

  .Imagen4 {
    max-width: 95%;
  }

  /* Seccion3 */
  .Columna4 {
    width: 95%;
  }

  .Imagen5 {
    width: 180px;
    height: auto;
  }

.Imagen5.GirarIzquierda.a {
    transform: rotate(-6deg) translateX(-330px);
}

.Imagen5.GirarIzquierda.b {
    transform: rotate(-6deg) translateX(-280px);
}

.Imagen5.GirarDerecha.a {
    transform: rotate(6deg) translateX(120px);
}

.Imagen5.GirarDerecha.b {
    transform: rotate(6deg) translateX(170px);
    margin-bottom: 50px;
}

}


