* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
}

/* ------------------------------------------------------------ */


.Egresados {
    background-image: url("../../assets/imgs/recursos-generales/cabeceras/egresados.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;   
    align-items: center;
    display: flex;
    
}

.TituloPrincipal h1{
    color: white;
    margin-left: 60px;
    margin-top: -240px;
    margin-bottom: 10px ;
    font-size: 80px; 
}

.TituloPrincipal h1::after {
    content: "";
    display: block;
    width: 60%;
    height: 4px;
    background-color: orange; 
    margin: -9px auto 0;
    border-radius: 2px;
}


.TituloPrincipal p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 120px;
}

/* -------------------------- Testimonios ---------------------------------- */

.main-container-t {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  padding: 5px;
  width: 100%;
  min-height: 250px;
  max-height: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.main-testimonios {
  border-radius: 10px;
  background-color: #e5e0d8;
  max-width: 45%;
  min-width: 300px;
  max-height: fit-content;
}

.header-testimonios{
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
}

.header-testimonios img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.titulo {
  line-height: 1;
  padding: 5px 0 0 5px;
  flex-direction: column;
  color: #4b4b4b;
}

.titulo h6 {
  color: #7a7a7a;
}

.main-content {
  padding: 10px;
  color: #4b4b4b;
  text-align: center;
}

.main-content::after {
  content: "";
  display: block;
  width: 100%;
  margin: 5px auto 0;
  border: 2px solid #ff9800;
}

.toggle-tarjetas {
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  margin-left: 0 auto;
  font-size: 1.5rem;
  color: #4b4b4b;
  border: none;
  background: none;
}

/* Flecha arriba */

#tgl-btn-arriba.active{
  display: none;
}

/* ------------------------------- Testimonios 2 ----------------------------- */

.tarjetas-container {
  display: none;
}

.tarjetas-container.show {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  padding: 20px;
  width: 100%;
  min-height: 250px;
  max-height: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.main-testimonios.tarjetas{
  width: 300px;
  max-height: fit-content;
}

/* Flecha debajo */

#tgl-btn-abajo{
  display: none;
}

#tgl-btn-abajo.active{
  display: flex;
}

/* ------------------------------------------------------------ */

.formulario-egresado {
  background-color: #eae4db;
  padding: 40px 20px;
  text-align: flex;

}

.Formulariotitulo {
display: flex;

}
 
.Formulariotitulo h2 {
  font-size: 60px;
}

.Formulariotitulo h2::after {
  content: "";
  display: block;
  width: 60%;
  height: 4px;
  background-color: orange; 
  margin: -9px auto 0;
  border-radius: 2px;
}

.formulario-egresado p{
    padding-bottom: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;

}

.formulario-egresado .Subtitulo{
    font-size: 25px;
    text-align: center;
    font-weight: 300;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.form-grupo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.form-grupo input {
  padding: 5px;
}

.form-experiencia textarea {
  width: 300px;
  height: 370px;
  padding: 10px;
}

.form-boton {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.form-boton button {
  background-color: #3ebc5c;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

 /*------------------------------- Mobile --------------------------------*/

/* ------------------- TABLET ------------------- */
@media (max-width: 1024px) {

  /* Hero - Egresados */
   .TituloPrincipal {
    text-align: center;
    margin: 0 auto;    /* centra con márgenes automáticos */
    display: block;
  }

  .TituloPrincipal h1 {
    font-size: 65px;
    margin-left: 30px;
    margin-top: 0;
  }

  .TituloPrincipal p {
    font-size: 25px;
    margin-left: 35px;
  }

  /* Testimonios */
  .Testimonios {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .Cuadros {
    width: 80%;
  }

  /* Formulario */
  .form-experiencia textarea {
    width: 90%;
    height: 250px;
  }

}

/* ------------------- MÓVIL ------------------- */
@media (max-width: 768px) {

  /* Hero - Egresados */

    .TituloPrincipal {
    text-align: center;
    margin: 0 auto;
    display: block;
  }


  .TituloPrincipal h1 {
    font-size: 45px;
    margin: 0;
    text-align: center;
  }

  .TituloPrincipal p {
    font-size: 20px;
    margin: 20px 0 0 0;
    text-align: center;
  }

  /* Testimonios */
  .Cuadros {
    width: 100%;
    padding: 20px;
  }

  .ImagenTestimonio {
    width: 60px;
  }

  /* Formulario */
  .Formulariotitulo h2 {
    font-size: 36px;
    text-align: center;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  .form-grupo,
  .form-experiencia {
    width: 100%;
    max-width: 350px;
  }

  .form-experiencia textarea {
    width: 100%;
    height: 200px;
  }

}
