* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.contenedorcuerpo{
    text-align: justify;
    color: #4b4b4b;
}
body {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

/* -------------------------------------------------*/

.Eventos {
    background-image: url("../../imgs/hero2.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;   
    align-items: center;
    display: flex;
    
}

.TituloPrincipal h1{
    color: rgb(49, 49, 49);
    margin-left: 30px;
    margin-top: -20px;
    padding-right: 50px ;
    font-size: 80px; 
    background-color: rgba(139, 137, 137, 0.5);
    line-height: 96px;

}

.LogoPrincipal{
    height: 240px;
    width: auto;
    border-radius: 8px;
    margin-left: 150px;
    margin-bottom: 40px;
  }

/* ----------------------------------------------------------------*/

main {
  color: #4b4b4b;
  background-color: #e5e0d8;
}

/* Introducción */

.introduction {
  padding: 20px;
  text-align: center;
}

.introduction h2 {
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-color: #ff9800;
}

.introduction p {
  margin: 0 auto;
  max-width: 1580px;
  padding-top: 15px;
  text-align: justify;
}

/* main content */

/*PRIMAVERA*/

.primavera{
    background-color: #f0f0f0;
    padding: 20px;
    padding-right: 0px;
    
}
.primavera > h2:first-of-type{
text-decoration: underline violet;
margin-bottom: 5px;
font-size: 2.5rem;
}
.primavera > h3:first-of-type{
text-decoration: underline violet;
margin-bottom: 5px;
font-size: 2rem;
}
li {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside; 
}
.contenedor1p{
    display: flex;
    gap: 20px;
}
.fotoprim{
    height: 300px;
    width: 500px;
    border-radius: 20px;
    margin-top: 20px;
  }
.bloque1p{
    width: 30%;
}
.bloque2p{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.bloqder{
    background-color: #e5e0d8 ;
    width: 15%;
    margin-left: auto;
    border-radius: 20px 0px 0px 20px;

}
.bloqder h2{
border-radius: 20px 0px 0px 20px;
text-align: center;
background-color: violet;
}
.bloqder li{
    text-align: center;
}
.lista{
    margin-top: 10px;
}
/* Evento RCP */

/* RCP */

.rcp {
  padding: 20px;
  background-color: #f0f0f0;
}

.rcp-main {
  display: flex;
  gap: 10px;
}

.rcp h2 {
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 2.5rem;
  padding-left: 15%;
}

.rcp-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rcp-block p{
  max-width: 1080px;
  min-width: 300px;
}

.rcp-block hr {
  width: 90%;
  height: 1px;
}

.rcp-block img {
  border-radius: 8px;
  width: 50%;
  min-width: 300px;
  height: auto;
}
.mayo25{
display: flex;
flex-direction: column;
padding: 40px 20px;
background-color: #f0f0f0;
gap: 30px;

}
.mayo25 h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    text-decoration: underline #74acdf;
}
.contenedor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 20px;
}
.bloque1{
    width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foto1{
    width: 85%;
    height: 270px;
    display: flex;
    margin: 0 auto;
    object-fit: cover;

}
.arriba{
    display: flex;
    flex-direction: row;
}
.caja1{
    background-color: #e5e0d8;
    width: 150px;
    height: 150px;
    border-radius: 10px;

  }
.caja1 h4 {
    margin: 0; 
    padding: 0;
    text-align: center;
}
.caja1 ol {
    margin: 5px 0 0 0;
    padding: 20px; 
    list-style-position: inside;
    padding-top: 1px;
}
.foto2{
    width: 200px;
    height: 130px;
    box-shadow: 0px 0px 0px 10px white;
}
.bloque12{
    background-color: #e5e0d8;
    padding: 0.5px;
    padding-left: 5px;
}
.bloque2{
    background-color: #74acdf;
    height: 500px;
    width: 430px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    gap: 30px;
}

.derecha img {
    transform: translateX(30px);
}
.izquierda img {
    transform: translateX(-30px);
}

.derecha{
    align-self: flex-end;
}
.mayo25 hr{
    width: 70%;
    align-self: center;
}
.fila1{
    display: flex;
    align-items: center;
    justify-content: space-between
}

/*------------------------------- Mobile --------------------------------*/

/* MEDIA QUERIES TABLET */
@media (max-width: 1024px) {

  .TituloPrincipal h1 { 
    font-size: 50px; 
    line-height: 60px; 
    padding: 15px; 
  }

  .LogoPrincipal { 
    height: 180px; 
    margin: 20px auto; 
  }

  /* RCP */

  .rcp h2 {
    padding: 0 0 20px 0;
    text-align: center;
  }

  .rcp-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rcp-block {
    width: 100%;
  }

  .rcp-block:nth-child(odd) img {
    order: 1;
  }
  .rcp-block:nth-child(odd) p {
    order: 2;
  }

  .rcp-block:nth-child(even) img {
    order: 2;
  }
  .rcp-block:nth-child(even) p {
    order: 1;
  }

  #primer {
    display: none;
  }

}

/* ============================================= */
/* MEDIA QUERIES MÓVIL */
@media (max-width: 768px) {

  .contenedor1p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bloque1p, .bloque2p{
    width: 100%;
    margin:0;
  }
  .primavera > h2:first-of-type{
    text-align: center;
  }


  .fotoprim{
    margin: 0 auto;
    margin-top: 10px;
  }
  .bloqder{
    width: 90%;
    border-radius: 20px;
    margin: 20px auto;

  }
  .bloqder h2{
    border-radius: 20px;
  }
  .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .mayo25 h2{
      text-align: center;
    }
    .bloque1{
      width: 100%;
    }
    .bloque2{
      margin: 0 auto;
      margin-top: 20px;
    }
  .Eventos {
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
    text-align: center;
    height: auto;
    padding: 20px 0;
  }

  .TituloPrincipal h1 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 15px 0;
    padding: 10px 15px;
  }

  .LogoPrincipal {
    height: 120px;
    margin: 0 auto;
    display: block;
  }

  /* main content */

  .introduction h2,
  .rcp h2 {
    font-size: 1.5rem;
  }

  .introduction p,
  .rcp p {
    font-size: small;
  }

}