* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.contenedorcuerpo{
    text-align: justify;
    color: #4b4b4b;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* -------------------------------------------------*/

.Eventos {
    background-image: url("../../imgs/hero2.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;   
    align-items: center;
    display: flex;
    
}

.TituloPrincipal h1{
    color: rgb(49, 49, 49);
    margin-left: 30px;
    margin-top: -20px;
    padding-right: 50px ;
    font-size: 80px; 
    background-color: rgba(139, 137, 137, 0.5);
    line-height: 96px;

}

.LogoPrincipal{
    height: 240px;
    width: auto;
    border-radius: 8px;
    margin-left: 150px;
    margin-bottom: 40px;
  }

/* ----------------------------------------------------------------*/

main {
  color: #4b4b4b;
  background-color: #e5e0d8;
}

/* Introducción */

.introduction {
  padding: 20px;
  text-align: center;
}

.introduction h2 {
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-color: #ff9800;
}

.introduction p {
  margin: 0 auto;
  max-width: 1580px;
  padding-top: 15px;
  text-align: justify;
}

/* main content */

/* Evento RCP */

.primavera{
    padding: 20px;
    text-align: justify;
    background-color: #f0f0f0;
}
.primavera h1{
    text-decoration: underline 3px#a674d4;

    margin-bottom:2px;
}
.primavera h2{
    text-decoration: underline 3px #a674d4;
    margin-top: 7px;
}
.infoprin{
    display:flex;
    flex-direction: row;
}
.info1{
    display:flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;

}
.izquierdap{
    display: flex;
    width: 30%;
}
.img1{
    position: relative;
    display: inline-block;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}
 .contenedorimg{
    position: relative;
    display: inline-block;
    width: 400px;
  }
.overlay{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* negro semitransparente */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* oculto al inicio */
    transition: opacity 0.3s ease;
}
.contenedor:hover .overlay {
    opacity: 1; /* aparece al pasar el mouse */
  }

.fotoprima{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.texto2{
    width: 60%;

}
.lineay{
    border-left: 1px solid;
    height: 450px;              
    margin: 0 20px;     
}

.bloqueder{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e0d8;
    height: 350px;
    width: 230px;
    border-radius: 20px 0px 0px 20px; 
    margin-right: -20px;
}
.bloqueder h3{
    background-color: #a674d4;
    color: white;
    margin-top: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 20px 0px 0px 20px; 
}

/* RCP */

.rcp {
  padding: 20px;
  background-color: #f0f0f0;
}

.rcp-main {
  display: flex;
  gap: 10px;
}

.rcp h2 {
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 2.5rem;
  padding-left: 15%;
}

.rcp-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rcp-block p{
  max-width: 1080px;
  min-width: 300px;
}

.rcp-block hr {
  width: 90%;
  height: 1px;
}

.rcp-block img {
  border-radius: 8px;
  width: 50%;
  min-width: 300px;
  height: auto;
}
.mayo25{
display: flex;
flex-direction: column;
padding: 40px 20px;
background-color: #f0f0f0;
gap: 30px;

}
.mayo25 h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    text-decoration: underline #74acdf;
}
.contenedor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 20px;
}
.bloque1{
    width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foto1{
    width: 85%;
    height: 270px;
    display: flex;
    margin: 0 auto;
    object-fit: cover;

}
.arriba{
    display: flex;
    flex-direction: row;
}
.caja1{
    background-color: #e5e0d8;
    width: 150px;
    height: 150px;
    border-radius: 10px;

  }
.caja1 h4 {
    margin: 0; 
    padding: 0;
    text-align: center;
}
.caja1 ol {
    margin: 5px 0 0 0;
    padding: 20px; 
    list-style-position: inside;
    padding-top: 1px;
}
.foto2{
    width: 200px;
    height: 130px;
    box-shadow: 0px 0px 0px 10px white;
}
.bloque12{
    background-color: #e5e0d8;
    padding: 0.5px;
    padding-left: 5px;
}
.bloque2{
    background-color: #74acdf;
    height: 500px;
    width: 430px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    gap: 30px;
}

.derecha img {
    transform: translateX(30px);
}
.izquierda img {
    transform: translateX(-30px);
}

.derecha{
    align-self: flex-end;
}
.mayo25 hr{
    width: 70%;
    align-self: center;
}
.fila1{
    display: flex;
    align-items: center;
    justify-content: space-between
}

/*------------------------------- Mobile --------------------------------*/

/* MEDIA QUERIES TABLET */
@media (max-width: 1024px) {

  .TituloPrincipal h1 { 
    font-size: 50px; 
    line-height: 60px; 
    padding: 15px; 
  }

  .LogoPrincipal { 
    height: 180px; 
    margin: 20px auto; 
  }

  /* RCP */

  .rcp h2 {
    padding: 0 0 20px 0;
    text-align: center;
  }

  .rcp-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rcp-block {
    width: 100%;
  }

  .rcp-block:nth-child(odd) img {
    order: 1;
  }
  .rcp-block:nth-child(odd) p {
    order: 2;
  }

  .rcp-block:nth-child(even) img {
    order: 2;
  }
  .rcp-block:nth-child(even) p {
    order: 1;
  }

  #primer {
    display: none;
  }

}

/* ============================================= */
/* MEDIA QUERIES MÓVIL */
@media (max-width: 768px) {

  .Eventos {
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
    text-align: center;
    height: auto;
    padding: 20px 0;
  }

  .TituloPrincipal h1 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 15px 0;
    padding: 10px 15px;
  }

  .LogoPrincipal {
    height: 120px;
    margin: 0 auto;
    display: block;
  }

  /* main content */

  .introduction h2,
  .rcp h2 {
    font-size: 1.5rem;
  }

  .introduction p,
  .rcp p {
    font-size: small;
  }

}