* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
  scroll-behavior: smooth;
}
   
body {
    font-family: 'Poppins', sans-serif;
}

/* -------------------------------------------------*/

.heading {
  color: #4b4b4b;
  background-image: url("../../imgs/expo202414.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 60vh;
}

.heading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 20px;
  padding: 30px;
}

.heading-content h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  background-color: #f0f0f0;
  border-radius: 33px;
  padding: 10px;
}

.heading-content img {
  width: 100px;
  height: 100px;
}

/* ------------------------------------------- Introducción ---------------------*/

.introduccion-container {
  background-color: #f0f0f0;
  padding: 45px 20px;
  width: 100%;
  height: 65vh;
  min-height: 500px;
  max-height: 900px;
}

.int-titulo {
  color: #4b4b4b;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
}

.int-content{
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.int-izquierda {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 70%;
  height: 100%;
}

.texto {
  text-align: justify;
  background-color: #e5e0d8;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
}

.int-img-container {
  width: 30%;
  height: 100%;
}

#mobile-int-img {
  display: none;
}

#int-img {

  margin-top: 7.5%;
  width: 250px;
  height: 370px;
  object-fit: cover;
  border-radius: 8px;
  max-width: 450px;
}

/*----------------------------------------------------------------------------------------------------*/

/* Navegación */

.expo-g-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px 0;
  width: 100%;
  height: 65vh;
  min-height: 525px;
  max-height: 700px;
}

.expo-g-container > h1 {
  color: #4b4b4b;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 2rem;
  padding-bottom: 30px;
}

.bi, 
.dot-g {
  cursor: pointer;
}

.sld-g-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 45%;
  height: 65%;
  min-width: 300px;
  min-height: 350px;
}

.sld-g-container .bi {
  opacity: 0;
  font-size: 2rem;
  transition: all .5s ease;
}

.sld-g-container:hover .bi {
  opacity: 1;
}

.sld-g {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 100%;
  min-width: 700px;
  height: 100%;
}

.sld-g::-webkit-scrollbar {
  display: none;
}

.slide-g {
  flex-shrink: 0;
  scroll-snap-align: center;
  position: sticky;
  width: 100%;
  height: 100%;
}

.overlayg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  background-color: rgba(75, 75, 75, 0.6);
  position: absolute;
  transition: all .5s ease;

  width: 35%;
  height: 100%;
}

.overlayg h3 {
  text-align: justify;
  font-size: 1.4rem;
  color: #f0f0f0;
}

.overlayg a {
  background-color: #f0f0f0;
  color: #4b4b4b;
  border-radius: 90px;
  text-align: center;
  font-size: 1rem;
  line-height: 35px;
  text-decoration: none;
  transition: all .5s ease;

  width: 65%;
  height: 35px;
}

.overlayg a:hover {
  color: #f0f0f0;
  background-color: #ff9800;
}

.slide-g img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sld-g,
.slide-g {
  border-radius: 33px 0 33px 0;
}

/* Dots g*/

.dots-g-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 10px;
  max-width: 100px;
  min-width: 80px;
  height: 30px;
}

.dot-g {
  background-color: #4b4b4b;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all .5s ease;
}

.dot-g:hover {
  background-color: #ff9800;
  transform: scale(1.25);
}

.dot-g.active {
  background-color: #ff9800;
  transform: scale(1.25);
  margin-right: 2px;
  margin-left: 2px;
}

/* Otros proyectos */

.proyectos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-margin-top: 100px;
  background-color: #e5e0d8;
  color: #4b4b4b;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  height: 65vh;
  min-height: 525px;
  max-height: 700px;
}

.proyectos-container > h1 {
  text-decoration: underline;
  text-decoration-color: #ff9800;
  font-size: 2rem;
  padding-bottom: 30px;
}

.sld-pr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 45%;
  height: 65%;
  min-width: 300px;
  min-height: 350px;
}

.sld-pr-container .bi {
  opacity: 0;
  font-size: 2rem;
  transition: all .5s ease;
}

.sld-pr-container:hover .bi {
  opacity: 1;
}

.sld-pr {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 100%;
  min-width: 700px;
  height: 100%;
}

.sld-pr::-webkit-scrollbar {
  display: none;
}

.slide-pr {
  flex-shrink: 0;
  scroll-snap-align: center;
  position: sticky;
  width: 100%;
  height: 100%;
}

.overlay-pr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  background-color: rgba(75, 75, 75, 0.6);
  position: absolute;
  right: 0;
  z-index: 2;
  transition: all .5s ease;

  width: 35%;
  height: 100%;
}

.overlay-pr h3 {
  text-align: justify;
  font-size: 1.4rem;
  color: #f0f0f0;
}

.overlay-pr a {
  background-color: #f0f0f0;
  color: #4b4b4b;
  border-radius: 90px;
  text-align: center;
  font-size: 1rem;
  line-height: 35px;
  text-decoration: none;
  transition: all .5s ease;

  width: 65%;
  height: 35px;
}

.overlay-pr a:hover {
  color: #f0f0f0;
  background-color: #ff9800;
}

.sld-pr,
.slide-pr {
  border-radius: 33px 0 33px 0;
}

.sld-inside-pr {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  width: 100%;
  height: 100%;
}

.sld-inside-pr.activo {
  opacity: 1;
}

/* Dots pexp*/

.dots-pr-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 10px;
  max-width: 100px;
  min-width: 80px;
  height: 30px;
}

.dot-pr {
  background-color: #4b4b4b;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all .5s ease;
}

.dot-pr:hover {
  background-color: #ff9800;
  transform: scale(1.25);
}

.dot-pr.active {
  background-color: #ff9800;
  transform: scale(1.25);
  margin-right: 2px;
  margin-left: 2px;
}

/*------- Proyectos 7mo -------*/

.septimo-proyectos {
  scroll-margin-top: 100px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 20px 0;
}

.septimo-proyectos h1 {
  color: #4b4b4b;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 2rem;
}

#choice-img {
  display: flex;
  width: 100%;
  min-height: 95vh;
}

.img-septimo {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.img-septimo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.6s ease;
}

.img-septimo:hover img {
  transform: scale(1.1);
}

.explicacion h2 {
  color: #4b4b4b;
  text-align: center;
  min-width: 200px;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 1.3rem;
  padding-bottom: 15px;
}

.explicacion-texto {
  display: flex;
  gap: 30px;
  padding: 10px;
  justify-content: center;
}

.explicacion-texto p {
  color: #4b4b4b;
  max-width: 500px;
  min-width: 250px;
  text-align: justify;
}

/* Actividades */

.actividades {
  scroll-margin-top: 100px;
  color: #4b4b4b;
  background-color: #e5e0d8;
  width: 100%;
  height: 90vh;
  min-height: 700px;

}
.actividades > h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #ff9800;
  padding: 20px;
}

.sld-a-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 80%;
}

.sld-a-container .bi {
  opacity: 0;
  font-size: 2rem;
  transition: all .5s ease;
}

.sld-a-container:hover .bi {
  opacity: 1;
}

.slda {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  background-color: #e5e0d8;
  width: 100%;
  height: 100%;
}

.slda::-webkit-scrollbar {
  display: none;
}

.slide-a {
  scroll-snap-align: center;
  position: sticky;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.slide-a h2 {
  text-decoration: underline;
  text-decoration-color: #ff9800;
  height: 5%;
}

.slide-a-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  padding: 5px;
  width: 100%;
  height: 95%;
}

.slide-a-content img {
  object-fit: cover;
  border-radius: 8px;
  width: 45%;
  height: 95%;
}

.txt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  text-align: justify;
  font-size: 20px;
}

.txt-container hr {
  color: #4b4b4b;
  margin-top: 25px;
  width: 100%;
}

.txt-container h4 {
  text-align: left;
  width: 100%;
}

.listas-a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.listas-a ul {
  list-style-position: inside;
  padding: 5px 10px 5px 10px;
}

.listas-a ul li {
  text-align: left;
}

/* Dots-a */

.dots-a-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.dot-a {
  background-color: #4b4b4b;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all .5s ease;
}

.dot-a:hover {
  background-color: #ff9800;
  transform: scale(1.25);
}

.dot-a.active {
  background-color: #ff9800;
  transform: scale(1.25);
  margin-right: 2px;
  margin-left: 2px;
}

/* Expos Anteriores */

.previous-exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-margin-top: 100px;
  background-color: #f0f0f0;
  color: #4b4b4b;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  height: 65vh;
  min-height: 525px;
  max-height: 700px;
}

.previous-exp > h1 {
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 2rem;
  padding-bottom: 30px;
}

.sld-pexp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 45%;
  height: 65%;
  min-width: 300px;
  min-height: 350px;
}

.sld-pexp-container .bi {
  opacity: 0;
  font-size: 2rem;
  transition: all .5s ease;
}

.sld-pexp-container:hover .bi {
  opacity: 1;
}

.sld-pexp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 100%;
  min-width: 700px;
  height: 100%;
}

.sld-pexp::-webkit-scrollbar {
  display: none;
}

.slide-pexp {
  flex-shrink: 0;
  scroll-snap-align: center;
  position: sticky;
  width: 100%;
  height: 100%;
}

.overlay-pexp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  background-color: rgba(75, 75, 75, 0.6);
  position: absolute;
  z-index: 2;
  transition: all .5s ease;

  width: 35%;
  height: 100%;
}

.overlay-pexp h3 {
  text-align: justify;
  font-size: 1.4rem;
  color: #f0f0f0;
}

.overlay-pexp a {
  background-color: #f0f0f0;
  color: #4b4b4b;
  border-radius: 90px;
  text-align: center;
  font-size: 1rem;
  line-height: 35px;
  text-decoration: none;
  transition: all .5s ease;

  width: 65%;
  height: 35px;
}

.overlay-pexp a:hover {
  color: #f0f0f0;
  background-color: #ff9800;
}

.sld-pexp,
.slide-pexp {
  border-radius: 33px 0 33px 0;
}

.sld-inside-pexp {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  width: 100%;
  height: 100%;
}

.sld-inside-pexp.activo {
  opacity: 1;
}

/* Dots pexp*/

.dots-pexp-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 10px;
  max-width: 100px;
  min-width: 80px;
  height: 30px;
}

.dot-pexp {
  background-color: #4b4b4b;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all .5s ease;
}

.dot-pexp:hover {
  background-color: #ff9800;
  transform: scale(1.25);
}

.dot-pexp.active {
  background-color: #ff9800;
  transform: scale(1.25);
  margin-right: 2px;
  margin-left: 2px;
}

/* Proyectos destacados */

.outstanding-projects {
  scroll-margin-top: 100px;
  background-color: #e5e0d8;
  color: #4b4b4b;
}

.outstanding-projects h1 {
  text-decoration: underline;
  text-decoration-color: #ff9800;
  text-align: center;
  font-size: 2.5rem;
  padding: 20px 0 20px 0;
}

.outsd-p-main-content {
  display: flex;
  flex-direction: column;
  border-radius: 0 33px 0 0;
  background-color: #f0f0f0;
}

.project-box {
  display: flex;
  width: 100%;
  height: 60vh;
}

.text-box-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateX(-1.3%);
  padding: 15px;
  width: 40%;
}

.heading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 400px;
  height: 30%;
}

.heading-box h2 {
  font-size: 1.7rem;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
}

.heading-box img {
  min-width: 15px;
  max-width: 100px;
  min-height: 15px;
  max-height: 100px;
}

.main-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: justify;
  height: 70%;
}

.main-content-box p {
  font-size: 20px;
  line-height: 35px;
  max-width: 400px;
}

.main-content-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
  text-decoration: none;
  color: #4b4b4b;
  background-color: #e5e0d8;
  transition: all .5s ease;
  width: 15vw;
  min-width: 50px;
  max-width: 250px;
  height: 35px;
}

.main-content-box a:hover {
  color: #f0f0f0;
  background-color: #4b4b4b;
}

.sldp {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 60%;
  height: 100%;
}

.slide-p.par {
  border-radius: 33px 0 0 0;
}

.slide-p {
  flex: 0 0 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  border-radius: 0 33px 0 0;
  width: 100%;
  height: 100%;
}

.slide-p.activo {
  opacity: 1;
}

.out-p-mobile {display: none;}