* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------------------------ */
 
 /* Menú de navegación */ 
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to top,  #00a560, #c1ff72);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.LogoMenu {
    display: flex;             
    align-items: center;       
    flex-direction: row;       
}
  
.LogoMenu img {
    height: 50px;
    width: auto;
    margin-right: 12px;        
}
  
.TextoLogo {
    display: flex;
    flex-direction: column;    
    font-size: 17px;
    line-height: 1.2;
    color: black;
    white-space: nowrap;
   font-weight: bold;
}

/* Menu desktop y hamburguesa*/

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav .nav-list li a {
  text-decoration: none;
}

.sub-nav-list {
    display: none;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    padding-top: 5px;
}

  /* ----------------------------------------------------------------*/

  .Inscripciones {
    background-image: url("../../imgs/inschead.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;   
    align-items: center;
    display: flex;
    
}

.TituloPrincipal h1{
    color: rgb(49, 49, 49);
    margin-left: 100px;
    margin-top: -240px;
    font-size: 80px; 
}


  /* ----------------------------------------------------------------*/

.BloqueUno {
  background-color: beige;
}

.BloqueDos{
  background-color: white;
}

.Seccion {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.Titulo{
  display: inline-block;
  font-size: 33px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 40px;
  color: #000;
}

.Titulo.Verde{
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
}

.Titulo.Naranja{
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
}

.Informacion {
  width: 60%;
  padding-right: 20px;
  border-right: 2px solid #aaa; /* 👉 Línea vertical */
  margin-bottom: 20px;
}

.Informacion p {
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.TituloFlecha {
  display: inline-block;
  font-size: 33px;
  background-color: green;
  position: relative;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 40px;
  color: #000;
}

/* Puntas en forma de flecha */
.TituloFlecha::before,
.TituloFlecha::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.TituloFlecha::before {
  left: -20px;
  border-right: 20px solid green; /* color igual al fondo */
}

.TituloFlecha::after {
  right: -20px;
  border-left: 20px solid green;
}

.SeccionCentrada {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Requisitos {
  width: 40%;
  padding-left: 20px;

}

.Titulo.Verde.Centrado{
  margin-top: -25px;
}

.Requisitos h3 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 30px;
}

.Subtitulo{
  text-align: center;
  font-size: 20px;
  margin-bottom: -25px;
  font-weight: bold;
}

.Subtitulo.Verde{
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
}

.Subtitulo.Naranja{
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
}

.Requisitos ul {
  list-style-position: inside;
  padding-left: 20px;
  columns: 2;
}

.Requisitos li {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.Requisitos hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  width: 90%;
  margin-left: 30px;
}

/*---------------------------------------------------------------*/

.Regimen{
  background-color:beige;
  padding: 70px 20px;
}

.InformacionRegimen h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}


.InformacionRegimen h3{
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
}


.InformacionRegimen hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  width: 50%;
  margin-left: 25%;
}

.InformacionRegimen p{
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
}

.Contacto{
  font-size: 12px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
  }

.Contacto a{
  color: #444;

}



/*---------------------------------------------------------------*/
.PaginaPie {
  background: linear-gradient(to top,  #00a560, #c1ff72);
  color: rgb(0, 0, 0);
  padding: 40px 20px;
  position: relative;
  font-weight: bold;
}

.Pie {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.LogoNombre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


.PieLogo {
  width: 100px;
  height: auto;
  margin-right: 15px; 
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.NombreEscuela {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.NombreEscuela p {
  display: block;
}

.NavegacionRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.LogosRedes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.RedesIconos img {
  width: 40px;
  height: auto;
}


.NavegacionRapida {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.NavegacionSecciones {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.NavegacionSecciones h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones h3 a{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NavegacionSecciones ul {
  list-style-type: none;
  padding-left: 0;
}

.NavegacionSecciones li {
  margin: 5px 0;
}

.NavegacionSecciones a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.NavegacionSecciones a:hover {
  text-decoration: underline;
}


@media (max-width: 1024px) {
  
  .Seccion {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .Informacion {
    width: 100%;
    border-right: none;
    padding-right: 0;
    text-align: center;
  }

  .Requisitos {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  /* QUITAR PUNTITOS DE LISTA */
  .Requisitos ul {
    list-style: none;
    padding-left: 0;
    columns: 1;
    display: inline-block;
  }

  .Requisitos li {
    font-size: 14px;
    margin: 8px 0;
  }

  .InformacionRegimen p,
  .Contacto {
    margin-left: 50px;
    margin-right: 50px;
  }

}

 

@media (max-width: 768px) {

  .TituloPrincipal {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }

  .TituloPrincipal h1 {
      font-size: 50px;

  }

  /* Bloques de inscripción */
  .Seccion {
    flex-direction: column;
    gap: 15px;
  }

  .Informacion {
    width: 100%;
    border-right: none;
    padding: 0;
  }

  .Informacion p {
    margin: 15px;
  }

  .Requisitos {
    width: 100%;
    padding: 0 15px;
  }

  .Requisitos ul {
    columns: 1;
    padding-left: 0;
  }

  .Requisitos h3 {
    text-align: center;
    margin-left: 0;
  }

  /* Regimen */
  .InformacionRegimen h2 {
    font-size: 28px;
  }

  .InformacionRegimen p,
  .Contacto {
    margin: 15px;
    font-size: 14px;
    text-align: left;
  }


}