* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
}

/* -------------------------------------------------*/

.AulasyTalleres {
    background-image: url("../../imgs/hero2.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;   
    align-items: center;
    display: flex;
    
}

.TituloPrincipal h1{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: -70px;
    font-size: 60px; 
    line-height: 96px;
}

/* ----------------------------------------------------------------*/
.aulas {
      max-width: 100%;
      margin: auto;
      padding: 20px;
      background-color: rgb(233, 233, 219);
    }

    /* Título fijo */
    .titulo-fijo {
      margin-bottom: 50px;
      text-align: left;
      font-size: 28px;
    }

    /* Bloques generales */
    .bloque {
      display: none;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      position: relative;
      margin-bottom: 60px;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .bloque.activo {
      display: flex;
      opacity: 1;
    }

    .texto {
      flex: 1;
      padding: 20px;
     
    }

    .izquierda, .derecha {
      margin-bottom: 10px;
      text-decoration: underline;
      text-decoration-color: orange;
      text-decoration-thickness: 3px;
      font-weight: 600;
      font-size: 22px;
      
    }

    .izquierda{
      text-align: left;
    }

    .derecha{
      text-align: right;
    }

    .texto p {
      line-height: 1.5;
      text-align: center;
    }

    /* Contenedor de la foto: las imágenes aparecerán una por vez */
    .foto {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
    }

    /* Efecto fade para las imágenes */
    .foto img {
      max-width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.8s ease;
    }

    .foto img.activo {
      opacity: 1;
      position: relative;
    }

    /* Línea divisoria */
    .bloque::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 40px;
      left: 50%;
      width: 2px;
      background: #ccc;
      transform: translateX(-50%);
    }

    /* Botones internos */
    .botones-internos {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
    }

    .botones-internos button {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: none;
      background: #ccc;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      transition: background 0.3s;
    }

    .botones-internos button.activo {
      background: #333;
    }

    .botones-internos button:hover {
      background: #555;
    }



/* Sección Aulas Info/Electro */

.aulas-y-talleres-info-elec {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  scroll-margin-top: 100px;
  background-color: #f0f0f0;
  color: #4b4b4b;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  height: 150vh;
  min-height: 1500px;
  max-height: 2000px;
}

#cabecera-sliders-talleres {
  font-size: 3rem;
}

.aulas-y-talleres-info-elec > h1 {
  padding-top: 30px;
  text-decoration: underline;
  text-decoration-color: #4caf4c;
  font-size: 2rem;
  padding-bottom: 10px;
}

.aulas-y-talleres-info-elec p {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 55%;
}

.sld-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 60%;
  height: 80%;
  min-width: 300px;
  min-height: 350px;
}

.sld-container .bi {
  opacity: 0;
  font-size: 2rem;
  transition: all .5s ease;
}

.sld-container:hover .bi {
  opacity: 1;
}

.sld {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 100%;
  min-width: 700px;
  height: 100%;
}

.sld::-webkit-scrollbar {
  display: none;
}

.slide {
  flex-shrink: 0;
  scroll-snap-align: center;
  position: sticky;
  width: 100%;
  height: 100%;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  background-color: rgba(75, 75, 75, 0.6);
  position: absolute;
  z-index: 2;
  transition: all .5s ease;

  width: 35%;
  height: 100%;
}

.overlay h3 {
  text-align: justify;
  font-size: 1.4rem;
  color: #f0f0f0;
}

.overlay a {
  background-color: #f0f0f0;
  color: #4b4b4b;
  border-radius: 90px;
  text-align: center;
  font-size: 1rem;
  line-height: 35px;
  text-decoration: none;
  transition: all .5s ease;

  width: 65%;
  height: 35px;
}

.overlay a:hover {
  color: #f0f0f0;
  background-color: #ff9800;
}

.sld,
.slide {
  border-radius: 33px 0 33px 0;
}

.sld-inside {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  width: 100%;
  height: 100%;
}

.sld-i-info-ayt.activo {
  opacity: 1;
}

.sld-i-elec-ayt.activo {
  opacity: 1;
}

/* Dots pexp*/

.dots-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 10px;
  max-width: 100px;
  min-width: 80px;
  height: 30px;
}

.dots-container.largo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 10px;
  max-width: 200px;
  min-width: 150px;
  height: 30px;
}

.dot {
  background-color: #4b4b4b;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all .5s ease;
}

.dot:hover {
  background-color: #ff9800;
  transform: scale(1.25);
}

.dot-info-ayt.active {
  background-color: #ff9800;
  transform: scale(1.25);
  margin-right: 2px;
  margin-left: 2px;
}

.dot-elec-ayt.active {
  background-color: #ff9800;
  transform: scale(1.25);
  margin-right: 2px;
  margin-left: 2px;
}

/*------------------------------ Mobile ---------------------------------*/

/* -------------------------------------- */
@media  (max-width: 768px) {

  /* Ajuste del hero */
  .AulasyTalleres {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .TituloPrincipal h1 {
    font-size: 50px;
    margin: 0 auto 20px auto;
    line-height: 1.2;
    padding: 10px;
  }

  .titulo-fijo{
    font-size: 24px;
  }

  .contenedor-externo{
    padding-top: 10px;
  }

  .titulo-info, .titulo-electro {
    font-size: 27px;
  }

   .bloque {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .texto {
    order: 1;
    text-align: center;
    padding: 10px 0;
  }

  .foto {
    order: 2;
    width: 100%;
    margin-top: 10px;
  }

  .bloque::before {
    left: 50%;
    height: 0;
    width: 0;
  }

  .botones-internos {
    bottom: -40px;
  }

  /* talleres info elec */

  .sld-container .bi {
    display: none;
  }

  #cabecera-sliders-talleres {
  font-size: 2.5rem;
  }

.aulas-y-talleres-info-elec p {
  width: 90%;
}

}

@media (max-width: 425px) {

  /* Ajuste hero aún más compacto */
  .TituloPrincipal h1 {
    font-size: 35px;
    padding: 5px;
  }

  .titulo-fijo{
    font-size: 20px;
  }

   .bloque {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .texto {
    order: 1;
    text-align: center;
    padding: 5px 0;
  }

  .foto {
    order: 2;
    width: 100%;
    margin-top: 5px;
  }

  .botones-internos {
    bottom: -35px;
  
  }
  
  /* talleres info elec */

  .aulas-y-talleres-info-elec {
        height: 550px;
    }

  #cabecera-sliders-talleres {
      font-size: 1.5rem;
  }

  .aulas-y-talleres-info-elec > h1 {
    font-size: 1rem;
  }

  .aulas-y-talleres-info-elec p {
    font-size: .7rem;
  }

  .sld-container {
    height: 450px;
  }

  .sld {
      min-width: 300px;
  }

  .overlay {
      opacity: 0;
      width: 100%;
  }

  .overlay-info-ayt.active-overlay {
      opacity: 1;
  }

  .overlay-elec-ayt.active-overlay {
      opacity: 1;
  }

}