* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------*/

.contacto {
  padding: 40px;
  background-color: #f9f9f9;
}

.contacto h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.contacto h2::after {
    content: "";
    display: block;
    width: 21%;
    height: 4px;
    background-color: orange; 
    margin: -9px 0 0 0;
    border-radius: 2px;
}


.contenedor-contacto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.columna {
    flex: 1;
    min-width: 250px;
}

.columna h3 {
    font-size: 25px;
    margin-top: 30px;
}


.izquierda, .centro {
    text-align: center;
}


.columna p, .columna ul, .columna li {
    font-size: 14px;
    color: #444;
}

.columna a {
    color: #444;
    font-weight: bold;
}



/* ---------------------------- Mobile -------------------------------- */

/* Tablet y móvil */
@media (max-width: 1024px) {

  .contacto h2::after {
    content: "";
    display: block;
    width:35%;
    height: 4px;
    background-color: orange; 
    margin: -9px 0 0 0;
    border-radius: 2px;
  }
  
}
 
@media (max-width: 768px) {
  
  .contacto h2::after {
    content: "";
    display: block;
    width:65%;
    height: 4px;
    background-color: orange; 
    margin: -9px 0 0 0;
    border-radius: 2px;
  }

}