@media (max-width: 1270px){

    /* Actividades */

    .actividades {
        height: 95vh;
    }

    .sld-a-container {
        width: 80%;
    }

    .slide-a-content {
        flex-direction: column;
    }

    .slide-a-content img {
        width: 100%;
        height: 40%;
    }

    .slide-a h2 {
        margin-bottom: 5px;
    }

    .txt-container {
        font-size: 1rem;
        width: 100%;
        height: 60%;
    }

    .lista-a {
        font-size: .8rem;
    }

}

@media (max-width: 768px){
    
    .TituloPrincipal h1 {
        font-size: 40px;
        width: 200px;
    }

    /* Introducción */

    .int-izquierda {
        gap: 10px;
        width: 100%;
    }

    #int-img {
        display: none;
    }

    /* slider general */

    .bi-caret-left,
    .bi-caret-right {
        display: none;
    }

    /* proyectos septimo */

    .explicacion-texto {
        flex-wrap: wrap;
    }

}

@media (max-width: 425px) {

    /* Introducción */

    .introduccion-container {
        height:95vh;
    }

    /* slider general */

    .overlayg.active-overlay {
        opacity: 1;
    }

    /* Otros proyectos */

    .overlay-pr.active-overlay {
        opacity: 1;
    }

    /* Proyectos Séptimo */

    .img-septimo:hover img {
        transform: scale(1);
    }   

    #choice-img {
        min-height: 300px;
    }

    /* Actividades */

    .actividades {
        height: 1000px;
    }

    .actividades h1 {
        font-size: 1.5rem;
    }

    .slide-a h2 {
        font-size: 1.2rem;
    }

    .sld-a-container {
        width: 95%;
    }

    .slide-a h2 {
        margin-bottom: 0;
    }

    .txt-container hr {
        margin-top: 5px;
    }

    /* slider previous exp */

    .overlay-pexp.active-overlay {
        opacity: 1;
    }

    /* Proyectos destacados */
    
    .outstanding-projects {
        display: none;
    }

    .out-p-mobile {
        display: block;
        color: #4b4b4b;
        background-color: #e5e0d8;
        padding: 5px;
        width: 100%;
        height: 540px;
    }

    .out-p-mobile h1 {
        text-align: center;
        font-size: 1.5rem;
        text-decoration: underline;
        text-decoration-color: #ff9800;
        padding-bottom: 30px;
    }
    
    .sldt-op-container {
        display: flex;
        overflow-y: hidden;
        gap: 10px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        position: sticky;
        padding: 10px;
        width: 100%;
        height: 450px;
    }

    .sldt-op-container::-webkit-scrollbar {
        display: none;
    }

    .tarjeta-op {
        scroll-snap-align: center;
        background-color: #f0f0f0;
        flex-shrink: 0;
        border-radius: 33px 0 33px 0;
        width: 100%;
        height: 100%;
    }

    .slide-op-img {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 35%;
    }

    .slide-op-img img {
        position: absolute;
        object-fit: cover;
        border-radius: 33px 0 0 0;
        transition: opacity 2s ease-in-out;
        width: 100%;
        height: 100%;
    }

    .slide-op-mobile {
        opacity: 0;
    }

    .slide-op-mobile.activo {
        opacity: 1;
    }

    .main-content-opt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        text-align: justify;
        padding: 5px;
        height: 65%;
    }

    .heading-bt {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 15px;
    }

    .heading-bt h4 {
        text-decoration: underline;
        text-decoration-color: #4caf4c;
        font-size: 1.5rem;
        text-align: center;
    }

    .heading-bt img {
        width: 25px;
        height: 25px;
    }

    .main-content-opt p {
        font-size: 1rem;
        width: 90%;
    }

    .main-content-opt a {
        background-color: #ff9800;
        color: #f0f0f0;
        border-radius: 90px;
        text-align: center;
        font-size: 1rem;
        line-height: 35px;
        text-decoration: none;

        width: 65%;
        height: 35px;
    }

}

@media (max-width: 320px) {

    /* Introducción */

    .introduccion-container {
        height: 850px;
    }

    /* Actividades */

    .sld-a-container {
        height: 83%;
    }

    .txt-container h4 {
        text-align: center;
        margin: 0 auto;
    }

}