@media (max-width: 768px){
    
    .TituloPrincipal h1 {
        font-size: 40px;
        width: 200px;
    }

    /* Introducción */

    .int-izquierda {
        gap: 10px;
        width: 100%;
    }

    #int-img {
        display: none;
    }

    /* slider general */

    .bi-caret-left,
    .bi-caret-right {
        display: none;
    }

    /* proyectos septimo */

    .explicacion-texto {
        flex-wrap: wrap;
    }

    /* slider previous exp */

    /* mejores proyectos */

    

}

@media (max-width: 425px) {

    /* Introducción */

    /* slider general */

    .sld-g {
        min-width: 300px;
    }

    .overlay-g {
        width: 100%;
    }

    /* Otros proyectos */

    .sld-pr {
        min-width: 300px;
    }

    /* Proyectos Séptimo */

    

    /* slider previous exp */

    .sld-pexp {
        min-width: 300px;
    }

    /* Proyectos destacados */
    
    .project-box {
        flex-direction: column;
    }

    .text-box-p {
        width: 100%;
    }

    .heading-box h2{
        font-size: 1rem;
    }

    .heading-box img {
        width: 20px;
        height: 20px;
    }

    .sldp {
        width: 100%;
    }
    
    .sldp-par,
    .slide-p {
        border-radius: 33px 33px 0 0;
    }
    
}