@media (max-width: 1270px){

    /* Actividades */

    .actividades {
        height: 95vh;
    }

    .sld-a-container {
        width: 80%;
    }

    .slide-a-content {
        flex-direction: column;
    }

    .slide-a-content img {
        width: 100%;
        height: 40%;
    }

    .slide-a h2 {
        margin-bottom: 5px;
    }

    .txt-container {
        font-size: 1rem;
        width: 100%;
        height: 60%;
    }

    .lista-a {
        font-size: .8rem;
    }

}

@media (max-width: 768px){
    
    .TituloPrincipal h1 {
        font-size: 40px;
        width: 200px;
    }

    /* Introducción */

    .int-izquierda {
        gap: 10px;
        width: 100%;
    }

    #int-img {
        display: none;
    }

    /* slider general */

    .bi-caret-left,
    .bi-caret-right {
        display: none;
    }

    /* proyectos septimo */

    .explicacion-texto {
        flex-wrap: wrap;
    }

    /* Actividades */

    /* slider previous exp */

    /* mejores proyectos */

    

}

@media (max-width: 425px) {

    /* Introducción */

    .introduccion-container {
        height:95vh;
    }

    /* slider general */

    .expo-g-container {
        height: 550px;
    }

    .expo-g-container h1 {
        font-size: 1.5rem;
    }

    .sld-g {
        min-width: 300px;
    }

    .overlayg {
        opacity: 0;
        width: 100%;
    }

    .overlayg.active-overlay {
        opacity: 1;
    }

    /* Otros proyectos */

    .proyectos-container {
        height: 550px;
    }

    .proyectos-container h1 {
        font-size: 1.5rem;
    }

    .sld-pr {
        min-width: 300px;
    }

    .overlay-pr {
        opacity: 0;
        width: 100%;
    }

    .overlay-pr.active-overlay {
        opacity: 1;
    }

    /* Proyectos Séptimo */

    #choice-img {
        min-height: 300px;
    }

    /* Actividades */

    .actividades {
        height: 1000px;
    }

    .actividades h1 {
        font-size: 1.5rem;
    }

    .slide-a h2 {
        font-size: 1.2rem;
    }

    .sld-a-container {
        width: 95%;
    }

    .slide-a h2 {
        margin-bottom: 0;
    }

    .txt-container hr {
        margin-top: 5px;
    }

    /* slider previous exp */

    .previous-exp {
        height: 550px;
    }

    .previous-exp h1 {
        font-size: 1.5rem;
    }

    .sld-pexp {
        min-width: 300px;
    }

    .overlay-pexp {
        opacity: 0;
        width: 100%;
    }

    .overlay-pexp.active-overlay {
        opacity: 1;
    }

    /* Proyectos destacados */
    
    .project-box {
        flex-direction: column;
    }

    .text-box-p {
        width: 100%;
    }

    .heading-box h2{
        font-size: 1.5rem;
    }

    .heading-box img {
        width: 20px;
        height: 20px;
    }

    .sldp {
        width: 100%;
    }
    
    .sldp-par,
    .slide-p {
        border-radius: 33px 33px 0 0;
    }
    
}

@media (max-width: 320px) {

    /* Introducción */

    .introduccion-container {
        height: 850px;
    }

    /* Actividades */

    .sld-a-container {
        height: 83%;
    }

    .txt-container h4 {
        text-align: center;
        margin: 0 auto;
    }

}