/* Ajustes desktop para mobile */

footer hr {
display: none;
}

#h2-footer {
  display: none;
}

/* Mobile */

@media (max-width: 1440px){

  .Nombre-escuela {
    font-size: 10px;
  }

  .NavegacionSecciones h3,
  .NavegacionSecciones h3 > a {
    font-size: 18px;
  }

  .NavegacionSecciones a {
    font-size: 15px;
  }

}

@media (max-width: 1024px) {

  footer {
    height: 1010px;
  }

  .Pie {
    flex-direction: column;
    align-items: center;
  }

  .LogoNombre {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
  }

  .PieLogo{
  margin-bottom: 20px;
  }

  footer hr {
    display: block;
    padding-bottom: 15px;
    border: none;
    border-top: 1px solid black;
    width: 90%;
}

  .NavegacionRapida {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .NavegacionRedes {
    gap: 20px;
  }

  #h2-footer {
    display: block;
  }

  .LogosRedes {
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
  }

}

@media (max-width: 768px) {

  .Pie {
    flex-direction: column;
    align-items: center;
  }

  .LogoNombre {
    align-items: center;
    text-align: center;
  }

  .NavegacionRedes {
    flex-direction: column;
    gap: 15px;
  }

  .NavegacionRapida {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .NavegacionSecciones h3 {
    font-size: 18px;
    text-align: center;
  }

  .NavegacionSecciones a {
    text-align: center;
    font-size: 0.9rem;
  }

  #h2-footer {
    text-align: center;
    font-size: 1rem;
  }

  .LogosRedes {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .RedesIconos img {
    width: 35px;
  }

}