@media screen and (min-width: 1025px) {

.nav-list li {
  position: relative;
}

.nav-list li .sub-nav-list {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100px;
  background-color: #f0f0f0;
  padding: 0.5rem 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 1000;
}

.nav-list li:hover .sub-nav-list {
  display: flex;
}

.nav .nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 5px 15px;
  display: block;
  transition: color 0.3s;
}

.nav .nav-list li:hover > a{
  color: #1caf21;
}

.sub-nav-list li:hover {
  background-color: greenyellow;
}

}

@media screen and (max-width: 1024px) {
    
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
    }

    .abrir-menu:hover,
    .cerrar-menu:hover {
        cursor: pointer;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        display: none;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #4b4b4b;
        padding: 2rem;
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5);
    }

    .nav-list {
        flex-direction: column;
        align-items: start;
    }

    .nav-list li {
        padding: 5px;
    }

    .sub-nav-list li {
        padding-top: 10px;
    }

    .nav-list li a {
    color: #f0f0f0;
    }

    .sub-nav-list {
        display: none;
    }

    .nav-list li:has(.sub-nav-list) > a::after{
        content: "▼";
        display: inline-block;
        margin-left: 5px;
        transition: transform 0.3s;
    }

    .sub-nav-list.activo{
        display: flex;
    }

}