#main-content-mobile {
    display: none;
}

@media (max-width: 900px){

    #main-content-desktop {
        display: none;
    }

    #main-content-mobile {
        display: block;
    }

    /* primer bloque */

    .mobile-block {
        display: flex;
        flex-direction: column;
        color: #4b4b4b;
        width: 100%;
        height: 75vh;
        min-height: 750px;
    }

    .sld-historia-container {
        display: flex;
        align-items: center;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        width: 100%;
        height: 100%;
    }

    .sld-historia-container::-webkit-scrollbar {
        display: none;
    }

    .slide-historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 100%;
        scroll-snap-align: center;
        position: sticky;
        width: 100%;
        height: 100%;
    }

    .slide-historia p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        width: 80%;
        height: 50%;
    }

    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height: 50%;
    }

    .img-container img {
        object-fit: cover;
        border-radius: 8px;
        width: 80%;
        height: 100%;
    }

    .slider-inside-img-historia {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height: 50%;
    }

    .sld-inside-historia {
        position: absolute;
        object-fit: cover;
        border-radius: 8px;
        width: 80%;
        height: 100%;

        opacity: 0;
        transition: opacity 2s ease-in-out;
    }

    .sld-inside-historia.activo {
        opacity: 1;
    }

    /* dots-historia */

    .dots-historia-container {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 0 auto 10px auto;
        border-radius: 8px;
        max-width: 100px;
        width: fit-content;
        height: 30px;   
    }

    .dot-historia {
        background-color: #4b4b4b;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        transition: all .5s ease;
    }

    .dot-historia:hover {
        background-color: #ff9800;
        transform: scale(1.25);
    }

    .dot-historia-1.active {
        background-color: #ff9800;
        transform: scale(1.25);
        margin-right: 2px;
        margin-left: 2px;
    }

    .dot-historia-2.active {
        background-color: #ff9800;
        transform: scale(1.25);
        margin-right: 2px;
        margin-left: 2px;
    }

    .dot-historia-3.active {
        background-color: #ff9800;
        transform: scale(1.25);
        margin-right: 2px;
        margin-left: 2px;
    }

    /* tercer bloque mobile */

    #third-mobile-block {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        padding: 20px;
        height: 60vh;
        min-height: 350px;
    }

    #third-mobile-block p {
        max-width: 825px;
    }

    /* cuarto bloque mobile */

    #fourth-mobile-block h2{
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #4caf4c;
        padding: 20px 20px 0 20px;
    }

    /* quinto bloque */

    #fifth-mobile-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    #fifth-mobile-block h1 {
        text-decoration: underline;
        text-decoration-color: #ff9800;
    }

    #fifth-mobile-block div {
        width: 90%;
        height: 90%;
    }

    #fifth-mobile-block video {
        object-fit: cover;
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 425px){

    .heading {
        height: 40vh;
    }

    .heading-content h1 {
        font-size: 1rem;
    }

    .heading-content img {
        width: 50px;
        height: 50px;
    }

    /* main content */

    .mobile-block {
        height: 90vh;
        min-height: 825px;
    }

    .slide-historia {
        justify-content: center;
        gap: 5px;
    }

    .slide-historia p {
        font-size: .95rem;
    }

    .img-container {
        padding: 10px;
        height: 40%;
    }

    .slider-inside-img-historia {
        padding: 10px;
        height: 40%;
    }

    /* tercer bloque */

    #third-mobile-block {
        height: 70vh;
        min-height: 550px;
    }

    /* cuarto bloque */

    #fourth-mobile-block {
        min-height: 875px;
    }

    /* quinto bloque */

    #fifth-mobile-block {
        height: 50vh;
        min-height: 400px;
    }

    #fifth-mobile-block div {
        width: 100%;
        height: 90%;
    }

    #fifth-mobile-block h1 {
        text-align: center;
        font-size: 1.5rem;
    }

}